# Import Data and Create Provider Dataframes

- set up the dataframes: outpatient, provider
- clean up as needed
- join as needed
- save cleaned and joined dataframes as 'all_providers'

## Questions
- What's the best way to join 'all_providers' with Tenn. City Boundaries … spatial join? 

## Notes
- This notebook needs some cleaning up. There are several cells that have been commented out as they're no longer used.

# Import Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# Import and Setup Dataframes
- outpatients seems to list hospitals and medical centers
- providers lists individual providers
- need to plot locations of these in order to determine underserved locations

In [2]:
# Setup filename variables
outpatient_csv = '../data/original/tennessee_outpatient_clean.csv'
providers_tsv = '../data/original/Medicare_Provider_Util_Payment_PUF_CY2017.tsv'

# import files to dataframes
outpatient = pd.read_csv(outpatient_csv, low_memory=False,
                         dtype={"provider_name": object, "provider_street_address": object, "provider_city": object})
providers = pd.read_csv(providers_tsv, sep='\t', low_memory=False)

In [3]:
providers.tail(50)

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,hcpcs_code,hcpcs_description,hcpcs_drug_indicator,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt,average_submitted_chrg_amt,average_Medicare_payment_amt,average_Medicare_standard_amt
9847394,1992999122,JOHNSON,CHARLES,R,D.O.,M,I,1601 CLINT MOORE RD,155,BOCA RATON,...,99238,"Hospital discharge day management, 30 minutes ...",N,108.0,89.0,108.0,76.260000,90.000000,59.057870,56.967500
9847395,1992999122,JOHNSON,CHARLES,R,D.O.,M,I,1601 CLINT MOORE RD,155,BOCA RATON,...,G0179,Physician re-certification for medicare-covere...,N,28.0,17.0,28.0,43.320000,50.000000,32.756786,31.753929
9847396,1992999122,JOHNSON,CHARLES,R,D.O.,M,I,1601 CLINT MOORE RD,155,BOCA RATON,...,G0180,Physician certification for medicare-covered h...,N,50.0,45.0,50.0,56.510000,60.000000,43.423800,41.914600
9847397,1992999122,JOHNSON,CHARLES,R,D.O.,M,I,1601 CLINT MOORE RD,155,BOCA RATON,...,G0328,Colorectal cancer screening; fecal occult bloo...,N,160.0,160.0,160.0,21.820000,30.000000,21.380000,21.380000
9847398,1992999122,JOHNSON,CHARLES,R,D.O.,M,I,1601 CLINT MOORE RD,155,BOCA RATON,...,G0402,Initial preventive physical examination; face-...,N,15.0,15.0,15.0,171.941333,192.000000,168.499333,165.300000
9847399,1992999122,JOHNSON,CHARLES,R,D.O.,M,I,1601 CLINT MOORE RD,155,BOCA RATON,...,G0403,"Electrocardiogram, routine ecg with 12 leads; ...",N,15.0,15.0,15.0,17.990000,25.000000,10.340000,9.900000
9847400,1992999122,JOHNSON,CHARLES,R,D.O.,M,I,1601 CLINT MOORE RD,155,BOCA RATON,...,G0439,"Annual wellness visit, includes a personalized...",N,353.0,353.0,353.0,120.478754,128.498584,118.070255,115.371048
9847401,1992999437,RIVERA,JOSE,L,M.D.,M,I,1600 S ANDREWS AVE,NaN,FORT LAUDERDALE,...,99284,"Emergency department visit, problem of high se...",N,35.0,35.0,35.0,132.350000,1144.342857,99.901714,89.847429
9847402,1992999437,RIVERA,JOSE,L,M.D.,M,I,1600 S ANDREWS AVE,NaN,FORT LAUDERDALE,...,99285,"Emergency department visit, problem with signi...",N,224.0,216.0,224.0,195.880000,1775.571429,148.791562,133.422098
9847403,1992999437,RIVERA,JOSE,L,M.D.,M,I,1600 S ANDREWS AVE,NaN,FORT LAUDERDALE,...,99291,Critical care delivery critically ill or injur...,N,49.0,49.0,49.0,249.790000,2041.081633,190.435714,172.425714
9847404,1992999452,HEILMAN,JOHN,P,DC,M,I,2012 CLEVELAND RD W UNIT G,NaN,HURON,...,98941,"Chiropractic manipulative treatment, 3 to 4 sp...",N,599.0,73.0,599.0,40.040000,55.000000,28.222688,29.202988
9847405,1992999551,MOLAI,INDIRA,NaN,M.D.,F,I,625 E GRAND AVE,NaN,ESCONDIDO,...,90662,Vaccine for influenza for injection into muscle,Y,42.0,42.0,42.0,49.030000,99.000000,48.050000,48.050000
9847406,1992999551,MOLAI,INDIRA,NaN,M.D.,F,I,625 E GRAND AVE,NaN,ESCONDIDO,...,90670,Pneumococcal vaccine for injection into muscle,Y,24.0,24.0,24.0,186.850000,337.000000,183.115000,183.115000
9847407,1992999551,MOLAI,INDIRA,NaN,M.D.,F,I,625 E GRAND AVE,NaN,ESCONDIDO,...,93000,Routine EKG using at least 12 leads including ...,N,39.0,37.0,39.0,18.010000,36.000000,11.294615,10.794103
9847408,1992999551,MOLAI,INDIRA,NaN,M.D.,F,I,625 E GRAND AVE,NaN,ESCONDIDO,...,99202,"New patient office or other outpatient visit, ...",N,15.0,15.0,15.0,78.880000,157.266667,32.669333,31.181333
9847409,1992999551,MOLAI,INDIRA,NaN,M.D.,F,I,625 E GRAND AVE,NaN,ESCONDIDO,...,99203,"New patient office or other outpatient visit, ...",N,28.0,28.0,28.0,113.260000,227.000000,64.701071,62.253571
9847410,1992999551,MOLAI,INDIRA,NaN,M.D.,F,I,625 E GRAND AVE,NaN,ESCONDIDO,...,99213,Established patient office or other outpatient...,N,484.0,278.0,484.0,77.010000,153.481405,49.628202,47.787025
9847411,1992999551,MOLAI,INDIRA,NaN,M.D.,F,I,625 E GRAND AVE,NaN,ESCONDIDO,...,99214,Established patient office or other outpatient...,N,293.0,156.0,293.0,113.150000,225.604096,82.309898,79.027133
9847412,1992999551,MOLAI,INDIRA,NaN,M.D.,F,I,625 E GRAND AVE,NaN,ESCONDIDO,...,G0008,Administration of influenza virus vaccine,N,48.0,48.0,48.0,27.383542,55.000000,26.833542,25.320000
9847413,1992999551,MOLAI,INDIRA,NaN,M.D.,F,I,625 E GRAND AVE,NaN,ESCONDIDO,...,G0009,Administration of pneumococcal vaccine,N,25.0,25.0,25.0,27.454800,55.000000,26.904800,25.320000
9847414,1992999551,MOLAI,INDIRA,NaN,M.D.,F,I,625 E GRAND AVE,NaN,ESCONDIDO,...,G0439,"Annual wellness visit, includes a personalized...",N,14.0,14.0,14.0,122.910000,245.000000,120.450000,115.360000
9847415,1992999759,SORIANO,DINO,V,RN MSN HSA FNP-C,M,I,171 CLOVER POINT CIR,NaN,GUYTON,...,81003,Automated urinalysis test,N,32.0,32.0,32.0,2.430000,6.640000,2.380000,3.020000
9847416,1992999759,SORIANO,DINO,V,RN MSN HSA FNP-C,M,I,171 CLOVER POINT CIR,NaN,GUYTON,...,94640,Respiratory inhaled pressure or nonpressure tr...,N,23.0,23.0,23.0,15.910000,31.900000,12.209130,12.575217
9847417,1992999759,SORIANO,DINO,V,RN MSN HSA FNP-C,M,I,171 CLOVER POINT CIR,NaN,GUYTON,...,99204,"New patient office or other outpatient visit, ...",N,28.0,28.0,28.0,139.420000,417.000000,105.406071,106.797500
9847418,1992999759,SORIANO,DINO,V,RN MSN HSA FNP-C,M,I,171 CLOVER POINT CIR,NaN,GUYTON,...,99213,Established patient office or other outpatient...,N,37.0,37.0,37.0,62.380000,183.000000,47.578378,49.602703
9847419,1992999759,SORIANO,DINO,V,RN MSN HSA FNP-C,M,I,171 CLOVER POINT CIR,NaN,GUYTON,...,99214,Established patient office or other outpatient...,N,177.0,170.0,177.0,91.770000,272.000000,68.038870,69.450282
9847420,1992999759,SORIANO,DINO,V,RN MSN HSA FNP-C,M,I,171 CLOVER POINT CIR,NaN,GUYTON,...,J7620,"Albuterol, up to 2.5 mg and ipratropium bromid...",Y,30.0,27.0,27.0,0.139667,0.700000,0.107667,0.111333
9847421,1992999775,"SPINE SURGERY CENTER OF EUGENE, LLC",NaN,NaN,NaN,NaN,O,1410 OAK ST,SUITE 300,EUGENE,...,62321,Injection of substance into spinal canal of up...,N,36.0,33.0,36.0,288.477778,1500.000000,219.702222,202.561667
9847422,1992999775,"SPINE SURGERY CENTER OF EUGENE, LLC",NaN,NaN,NaN,NaN,O,1410 OAK ST,SUITE 300,EUGENE,...,62323,Injection of substance into spinal canal of lo...,N,48.0,40.0,48.0,296.720000,1500.000000,226.542500,208.912500
9847423,1992999775,"SPINE SURGERY CENTER OF EUGENE, LLC",NaN,NaN,NaN,NaN,O,1410 OAK ST,SUITE 300,EUGENE,...,63047,Partial removal of middle spine bone with rele...,N,22.0,22.0,22.0,2803.287273,7500.000000,2197.769091,2031.212727
9847424,1992999775,"SPINE SURGERY CENTER OF EUGENE, LLC",NaN,NaN,NaN,NaN,O,1410 OAK ST,SUITE 300,EUGENE,...,64483,Injections of anesthetic and/or steroid drug i...,N,66.0,42.0,49.0,325.651667,1500.000000,248.943030,229.592121
9847425,1992999775,"SPINE SURGERY CENTER OF EUGENE, LLC",NaN,NaN,NaN,NaN,O,1410 OAK ST,SUITE 300,EUGENE,...,G0260,Injection procedure for sacroiliac joint; prov...,N,33.0,20.0,24.0,256.258182,1481.818182,196.561515,181.334242
9847426,1992999825,DESCHENES,GEOFFREY,R,M.D.,M,I,1100 9TH AVE,MS:M4-PFS,SEATTLE,...,30140,Removal of nasal air passage,N,18.0,18.0,18.0,722.144444,1987.500000,558.196667,493.563333
9847427,1992999825,DESCHENES,GEOFFREY,R,M.D.,M,I,1100 9TH AVE,MS:M4-PFS,SEATTLE,...,30520,Reshaping of nasal cartilage,N,12.0,12.0,12.0,369.373333,1866.000000,289.586667,269.002500
9847428,1992999825,DESCHENES,GEOFFREY,R,M.D.,M,I,1100 9TH AVE,MS:M4-PFS,SEATTLE,...,30901,Simple control of nose bleed,N,14.0,14.0,14.0,104.080000,284.000000,75.420714,70.202143
9847429,1992999825,DESCHENES,GEOFFREY,R,M.D.,M,I,1100 9TH AVE,MS:M4-PFS,SEATTLE,...,31231,Diagnostic examination of nasal passages using...,N,16.0,13.0,16.0,237.250000,656.000000,177.033125,157.603125
9847430,1992999825,DESCHENES,GEOFFREY,R,M.D.,M,I,1100 9TH AVE,MS:M4-PFS,SEATTLE,...,31575,Diagnostic examination of voice box using flex...,N,19.0,17.0,19.0,73.880000,347.000000,48.774737,45.962105
9847431,1992999825,DESCHENES,GEOFFREY,R,M.D.,M,I,1100 9TH AVE,MS:M4-PFS,SEATTLE,...,31575,Diagnostic examination of voice box using flex...,N,63.0,56.0,63.0,127.160000,347.000000,94.053175,85.662698
9847432,1992999825,DESCHENES,GEOFFREY,R,M.D.,M,I,1100 9TH AVE,MS:M4-PFS,SEATTLE,...,69210,"Removal of impact ear wax, one ear",N,13.0,13.0,13.0,34.990000,147.000000,25.320000,24.415385
9847433,1992999825,DESCHENES,GEOFFREY,R,M.D.,M,I,1100 9TH AVE,MS:M4-PFS,SEATTLE,...,69210,"Removal of impact ear wax, one ear",N,104.0,92.0,104.0,52.807212,147.000000,37.847308,36.032404
9847434,1992999825,DESCHENES,GEOFFREY,R,M.D.,M,I,1100 9TH AVE,MS:M4-PFS,SEATTLE,...,99203,"New patient office or other outpatient visit, ...",N,37.0,37.0,37.0,80.910000,143.000000,56.712973,54.526216
9847435,1992999825,DESCHENES,GEOFFREY,R,M.D.,M,I,1100 9TH AVE,MS:M4-PFS,SEATTLE,...,99203,"New patient office or other outpatient visit, ...",N,88.0,88.0,88.0,117.260000,290.000000,84.541023,79.799659
9847436,1992999825,DESCHENES,GEOFFREY,R,M.D.,M,I,1100 9TH AVE,MS:M4-PFS,SEATTLE,...,99204,"New patient office or other outpatient visit, ...",N,83.0,83.0,83.0,137.240000,284.000000,102.023614,97.797711
9847437,1992999825,DESCHENES,GEOFFREY,R,M.D.,M,I,1100 9TH AVE,MS:M4-PFS,SEATTLE,...,99204,"New patient office or other outpatient visit, ...",N,105.0,105.0,105.0,176.900000,431.000000,124.930381,117.928762
9847438,1992999825,DESCHENES,GEOFFREY,R,M.D.,M,I,1100 9TH AVE,MS:M4-PFS,SEATTLE,...,99214,Established patient office or other outpatient...,N,103.0,84.0,103.0,83.400000,198.000000,61.235146,58.485243
9847439,1992999825,DESCHENES,GEOFFREY,R,M.D.,M,I,1100 9TH AVE,MS:M4-PFS,SEATTLE,...,99214,Established patient office or other outpatient...,N,248.0,175.0,248.0,116.860000,345.000000,85.637177,80.263065
9847440,1992999874,JOFFE,GABRIELLA,NaN,NaN,F,I,8260 ATLEE RD,"MOB 2, SUITE 319",MECHANICSVILLE,...,99223,"Initial hospital inpatient care, typically 70 ...",N,41.0,41.0,41.0,203.400000,496.000000,225.564634,155.800732
9847441,1992999874,JOFFE,GABRIELLA,NaN,NaN,F,I,8260 ATLEE RD,"MOB 2, SUITE 319",MECHANICSVILLE,...,99232,"Subsequent hospital inpatient care, typically ...",N,101.0,57.0,101.0,72.480000,176.000000,83.200000,57.390000
9847442,1992999874,JOFFE,GABRIELLA,NaN,NaN,F,I,8260 ATLEE RD,"MOB 2, SUITE 319",MECHANICSVILLE,...,99233,"Subsequent hospital inpatient care, typically ...",N,102.0,55.0,102.0,104.760000,254.000000,119.450784,82.450490
9847443,1992999874,JOFFE,GABRIELLA,NaN,NaN,F,I,8260 ATLEE RD,"MOB 2, SUITE 319",MECHANICSVILLE,...,99239,"Hospital discharge day management, more than 3...",N,49.0,49.0,49.0,107.980000,262.000000,123.950000,85.540000

In [4]:
# confirm imports
print('\n\nThis is: outpatient')
print(outpatient.info())

print('\n\nThis is: providers')
print(providers.info())

This is: outpatient
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47417 entries, 0 to 47416
Data columns (total 23 columns):
Unnamed: 0                                   47417 non-null int64
provider_id                                  79 non-null float64
provider_name                                79 non-null object
provider_street_address                      79 non-null object
provider_city                                79 non-null object
provider_state                               79 non-null object
provider_zip_code                            79 non-null float64
provider_hospital_referral_region_(hrr)      79 non-null object
apc                                          79 non-null float64
apc_description                              79 non-null object
beneficiaries                                77 non-null float64
comprehensive_apc_services                   79 non-null float64
average_estimated_total_submitted_charges    79 non-null float64
average_medicare_allowed_amount              79 non-null float64
average_medicare_payment_amount              79 non-null float64
outlier_comprehensive_apc_services           73 non-null float64
average_medicare_outlier_amount              73 non-null float64
zip                                          47417 non-null int64
cbsa                                         47417 non-null int64
res_ratio                                    47417 non-null float64
bus_ratio                                    47417 non-null float64
oth_ratio                                    47417 non-null float64
tot_ratio                                    47417 non-null float64
dtypes: float64(14), int64(3), object(6)
memory usage: 8.3+ MB
None


This is: providers
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9847444 entries, 0 to 9847443
Data columns (total 26 columns):
npi                                 int64
nppes_provider_last_org_name        object
nppes_provider_first_name           object
nppes_provider_mi                   object
nppes_credentials                   object
nppes_provider_gender               object
nppes_entity_code                   object
nppes_provider_street1              object
nppes_provider_street2              object
nppes_provider_city                 object
nppes_provider_zip                  object
nppes_provider_state                object
nppes_provider_country              object
provider_type                       object
medicare_participation_indicator    object
place_of_service                    object
hcpcs_code                          object
hcpcs_description                   object
hcpcs_drug_indicator                object
line_srvc_cnt                       float64
bene_unique_cnt                     float64
bene_day_srvc_cnt                   float64
average_Medicare_allowed_amt        float64
average_submitted_chrg_amt          float64
average_Medicare_payment_amt        float64
average_Medicare_standard_amt       float64
dtypes: float64(7), int64(1), object(18)
memory usage: 1.9+ GB
None

# Clean Up Column Names and Dtypes

In [5]:
# make provider names and cities lowercase
providers['nppes_provider_last_org_name'] = providers['nppes_provider_last_org_name'].str.capitalize()
providers['nppes_provider_first_name'] = providers['nppes_provider_first_name'].str.capitalize()
providers['nppes_provider_street1'] = providers['nppes_provider_street1'].str.capitalize()
providers['nppes_provider_street2'] = providers['nppes_provider_street2'].str.capitalize()
providers['nppes_provider_city'] = providers['nppes_provider_city'].str.capitalize()

Keep these columns from providers:
- nppes_provider_last_org_name,
- nppes_provider_first_name,
- nppes_provider_street1,
- nppes_provider_street2,
- nppes_provider_city,
- nppes_provider_zip,
- nppes_provider_state,
- provider_type,
- hcpcs_code,
- hcpcs_description

In [6]:
# create temp files with the fields we need
# providers_tmp = providers[['nppes_provider_last_org_name', 'nppes_provider_first_name', 
#                           'nppes_provider_street1', 'nppes_provider_street2', 'nppes_provider_city',
#                           'nppes_provider_state', 'nppes_provider_zip', 'provider_type', 'hcpcs_code',
#                           'hcpcs_description']]

# UPDATE: I don't think I need provider_type and hcpcs fields so let's not copy them 
providers_tmp = providers[['nppes_provider_last_org_name', 'nppes_provider_first_name', 
                          'nppes_provider_street1', 'nppes_provider_street2', 'nppes_provider_city',
                          'nppes_provider_state', 'nppes_provider_zip']]

providers_tmp = providers_tmp.drop([0])
providers_tmp.head()

,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,nppes_provider_state,nppes_provider_zip
1,Enkeshafi,Ardalan,900 seton dr,NaN,Cumberland,MD,215021854
2,Enkeshafi,Ardalan,900 seton dr,NaN,Cumberland,MD,215021854
3,Enkeshafi,Ardalan,900 seton dr,NaN,Cumberland,MD,215021854
4,Enkeshafi,Ardalan,900 seton dr,NaN,Cumberland,MD,215021854
5,Enkeshafi,Ardalan,900 seton dr,NaN,Cumberland,MD,215021854

In [7]:
# combine first and last names into 'full_name' field
# df['Name'] = df['First'].str.cat(df['Last'],sep=" ")

providers_tmp['full_name'] = providers_tmp['nppes_provider_first_name'].str.cat(providers_tmp['nppes_provider_last_org_name'],sep=' ')
                                         
                                         

providers_tmp.tail()

,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,nppes_provider_state,nppes_provider_zip,full_name
9847439,Deschenes,Geoffrey,1100 9th ave,Ms:m4-pfs,Seattle,WA,981012756,Geoffrey Deschenes
9847440,Joffe,Gabriella,8260 atlee rd,"Mob 2, suite 319",Mechanicsville,VA,231161844,Gabriella Joffe
9847441,Joffe,Gabriella,8260 atlee rd,"Mob 2, suite 319",Mechanicsville,VA,231161844,Gabriella Joffe
9847442,Joffe,Gabriella,8260 atlee rd,"Mob 2, suite 319",Mechanicsville,VA,231161844,Gabriella Joffe
9847443,Joffe,Gabriella,8260 atlee rd,"Mob 2, suite 319",Mechanicsville,VA,231161844,Gabriella Joffe

In [8]:
# exclude non-Tennessee records
tennessee_providers = providers_tmp.loc[providers_tmp ['nppes_provider_state'] == 'TN'] 

# convert zip code to int
tennessee_providers.nppes_provider_zip = tennessee_providers.nppes_provider_zip.astype('int64') 

# confirm the fix
print(tennessee_providers.info())
tennessee_providers.tail()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 269452 entries, 416 to 9847080
Data columns (total 8 columns):
nppes_provider_last_org_name    269448 non-null object
nppes_provider_first_name       259479 non-null object
nppes_provider_street1          269452 non-null object
nppes_provider_street2          115651 non-null object
nppes_provider_city             269452 non-null object
nppes_provider_state            269452 non-null object
nppes_provider_zip              269452 non-null int64
full_name                       259475 non-null object
dtypes: int64(1), object(7)
memory usage: 18.5+ MB
None

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,nppes_provider_state,nppes_provider_zip,full_name
9847076,Giles,Wesley,979 e 3rd st ste 300,NaN,Chattanooga,TN,374032187,Wesley Giles
9847077,Giles,Wesley,979 e 3rd st ste 300,NaN,Chattanooga,TN,374032187,Wesley Giles
9847078,Giles,Wesley,979 e 3rd st ste 300,NaN,Chattanooga,TN,374032187,Wesley Giles
9847079,Giles,Wesley,979 e 3rd st ste 300,NaN,Chattanooga,TN,374032187,Wesley Giles
9847080,Giles,Wesley,979 e 3rd st ste 300,NaN,Chattanooga,TN,374032187,Wesley Giles

Keep these columns from outpatient:
- provider_name,
- provider_street_address,
- provider_city,
- provider_state,
- provider_zip_code,
- apc,
- apc_description,
- beneficiaries

In [9]:
# create temp files with the fields we need
# outpatient_tmp = outpatient[['provider_name', 'provider_street_address', 'provider_city', 'provider_state',
#                              'provider_zip_code', 'apc', 'apc_description'
# ]]

# UPDATE: don't think I need apc fields
outpatient_tmp = outpatient[['provider_name', 'provider_street_address', 'provider_city', 'provider_state',
                             'provider_zip_code']]

print(outpatient_tmp.info())
outpatient_tmp.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47417 entries, 0 to 47416
Data columns (total 5 columns):
provider_name              79 non-null object
provider_street_address    79 non-null object
provider_city              79 non-null object
provider_state             79 non-null object
provider_zip_code          79 non-null float64
dtypes: float64(1), object(4)
memory usage: 1.8+ MB
None

,provider_name,provider_street_address,provider_city,provider_state,provider_zip_code
0,Jackson-Madison County General Hospital,620 Skyline Drive,Jackson,TN,38301.0
1,Jackson-Madison County General Hospital,620 Skyline Drive,Jackson,TN,38301.0
2,Sumner Regional Medical Center,555 Hartsville Pike,Gallatin,TN,37066.0
3,Tristar Skyline Medical Center,3441 Dickerson Pike,Nashville,TN,37207.0
4,Cumberland Medical Center,421 S Main St,Crossville,TN,38555.0

# Clean up Column Names

In [10]:
# rename columns
# tennessee_providers.columns = ['last_name', 'first_name', 'address', 'address2', 'city', 'state', 'zip',
#                               'provider_type', 'hcpcs_code', 'hcpcs_description', 'full_name'] 

tennessee_providers.columns = ['last_name', 'first_name', 'address', 'address2', 'city', 'state', 'zip', 'full_name'] 

# outpatient_tmp.columns = ['full_name', 'address', 'city', 'state', 'zip', 'apc', 'apc_description']
outpatient_tmp.columns = ['full_name', 'address', 'city', 'state', 'zip']

In [11]:
# confirm renames
print('This is tennessee_providers')
tennessee_providers.info()

This is tennessee_providers
<class 'pandas.core.frame.DataFrame'>
Int64Index: 269452 entries, 416 to 9847080
Data columns (total 8 columns):
last_name     269448 non-null object
first_name    259479 non-null object
address       269452 non-null object
address2      115651 non-null object
city          269452 non-null object
state         269452 non-null object
zip           269452 non-null int64
full_name     259475 non-null object
dtypes: int64(1), object(7)
memory usage: 18.5+ MB

In [12]:
print('\n\nThis is outpatient_tmp')
outpatient_tmp.info()

This is outpatient_tmp
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47417 entries, 0 to 47416
Data columns (total 5 columns):
full_name    79 non-null object
address      79 non-null object
city         79 non-null object
state        79 non-null object
zip          79 non-null float64
dtypes: float64(1), object(4)
memory usage: 1.8+ MB

## Look for NaNs and duplicates

In [13]:
tennessee_providers.head(10)

,last_name,first_name,address,address2,city,state,zip,full_name
416,Walgreen co.,NaN,5104 bobby hicks hwy,NaN,Gray,TN,376156217,NaN
417,Walgreen co.,NaN,5104 bobby hicks hwy,NaN,Gray,TN,376156217,NaN
418,Walgreen co.,NaN,5104 bobby hicks hwy,NaN,Gray,TN,376156217,NaN
419,Walgreen co.,NaN,5104 bobby hicks hwy,NaN,Gray,TN,376156217,NaN
420,Walgreen co.,NaN,5104 bobby hicks hwy,NaN,Gray,TN,376156217,NaN
1747,Cudzilo,Corey,2240 sutherland ave,Suite 103,Knoxville,TN,379192333,Corey Cudzilo
1748,Cudzilo,Corey,2240 sutherland ave,Suite 103,Knoxville,TN,379192333,Corey Cudzilo
1749,Cudzilo,Corey,2240 sutherland ave,Suite 103,Knoxville,TN,379192333,Corey Cudzilo
1750,Cudzilo,Corey,2240 sutherland ave,Suite 103,Knoxville,TN,379192333,Corey Cudzilo
1751,Cudzilo,Corey,2240 sutherland ave,Suite 103,Knoxville,TN,379192333,Corey Cudzilo

In [14]:
tennessee_providers.tail(10)

,last_name,first_name,address,address2,city,state,zip,full_name
9847071,Giles,Wesley,979 e 3rd st ste 300,NaN,Chattanooga,TN,374032187,Wesley Giles
9847072,Giles,Wesley,979 e 3rd st ste 300,NaN,Chattanooga,TN,374032187,Wesley Giles
9847073,Giles,Wesley,979 e 3rd st ste 300,NaN,Chattanooga,TN,374032187,Wesley Giles
9847074,Giles,Wesley,979 e 3rd st ste 300,NaN,Chattanooga,TN,374032187,Wesley Giles
9847075,Giles,Wesley,979 e 3rd st ste 300,NaN,Chattanooga,TN,374032187,Wesley Giles
9847076,Giles,Wesley,979 e 3rd st ste 300,NaN,Chattanooga,TN,374032187,Wesley Giles
9847077,Giles,Wesley,979 e 3rd st ste 300,NaN,Chattanooga,TN,374032187,Wesley Giles
9847078,Giles,Wesley,979 e 3rd st ste 300,NaN,Chattanooga,TN,374032187,Wesley Giles
9847079,Giles,Wesley,979 e 3rd st ste 300,NaN,Chattanooga,TN,374032187,Wesley Giles
9847080,Giles,Wesley,979 e 3rd st ste 300,NaN,Chattanooga,TN,374032187,Wesley Giles

In [15]:
# drop duplicates
tennessee_providers = tennessee_providers.drop_duplicates(keep=False)
tennessee_providers

,last_name,first_name,address,address2,city,state,zip,full_name
6354,Stone,Ralph,1700 carmack blvd,NaN,Columbia,TN,38401,Ralph Stone
15768,State of tennessee,NaN,214 west longview drive,NaN,Portland,TN,37148,NaN
17080,Davis,Patrick,1222 trotwood ave ste 603,NaN,Columbia,TN,38401,Patrick Davis
26250,Horn,Cassondra,1 medical park blvd,NaN,Bristol,TN,376207430,Cassondra Horn
27899,Hiatt,Emily,3310 w end ave,Suite 590,Nashville,TN,372031028,Emily Hiatt
...,...,...,...,...,...,...,...,...
9834934,Shah,Jasmine,975 e 3rd st,NaN,Chattanooga,TN,374032147,Jasmine Shah
9834942,Basty,Marie,713 cheatham st,NaN,Springfield,TN,371722828,Marie Basty
9839309,Bell,Amanda,317 n hickory ave,NaN,Cookeville,TN,385012428,Amanda Bell
9840208,Gill,Farrukh,5301 virginia way,Suite 300,Brentwood,TN,370277541,Farrukh Gill
9841223,Perry,Amanda,1124 new highway 52 e,NaN,Westmoreland,TN,371865060,Amanda Perry

In [16]:
outpatient_tmp.head(80)

,full_name,address,city,state,zip
0,Jackson-Madison County General Hospital,620 Skyline Drive,Jackson,TN,38301.0
1,Jackson-Madison County General Hospital,620 Skyline Drive,Jackson,TN,38301.0
2,Sumner Regional Medical Center,555 Hartsville Pike,Gallatin,TN,37066.0
3,Tristar Skyline Medical Center,3441 Dickerson Pike,Nashville,TN,37207.0
4,Cumberland Medical Center,421 S Main St,Crossville,TN,38555.0
...,...,...,...,...,...
75,Tennova Healthcare-Lebanon,1411 Baddour Parkway,Lebanon,TN,37087.0
76,Tristar Hendersonville Medical Center,355 New Shackle Island Rd,Hendersonville,TN,37075.0
77,Tristar Southern Hills Medical Center,391 Wallace Rd,Nashville,TN,37211.0
78,Tristar Stonecrest Medical Center,200 Stonecrest Boulevard,Smyrna,TN,37167.0
79,NaN,NaN,NaN,NaN,NaN

In [17]:
outpatient_tmp.tail(47339)

,full_name,address,city,state,zip
78,Tristar Stonecrest Medical Center,200 Stonecrest Boulevard,Smyrna,TN,37167.0
79,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,NaN,NaN,NaN
81,NaN,NaN,NaN,NaN,NaN
82,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...
47412,NaN,NaN,NaN,NaN,NaN
47413,NaN,NaN,NaN,NaN,NaN
47414,NaN,NaN,NaN,NaN,NaN
47415,NaN,NaN,NaN,NaN,NaN
47416,NaN,NaN,NaN,NaN,NaN

In [18]:
# drop NaN columns
outpatient_tmp.dropna()

,full_name,address,city,state,zip
0,Jackson-Madison County General Hospital,620 Skyline Drive,Jackson,TN,38301.0
1,Jackson-Madison County General Hospital,620 Skyline Drive,Jackson,TN,38301.0
2,Sumner Regional Medical Center,555 Hartsville Pike,Gallatin,TN,37066.0
3,Tristar Skyline Medical Center,3441 Dickerson Pike,Nashville,TN,37207.0
4,Cumberland Medical Center,421 S Main St,Crossville,TN,38555.0
...,...,...,...,...,...
74,Saint Thomas Highlands Hospital,401 Sewell Dr,Sparta,TN,38583.0
75,Tennova Healthcare-Lebanon,1411 Baddour Parkway,Lebanon,TN,37087.0
76,Tristar Hendersonville Medical Center,355 New Shackle Island Rd,Hendersonville,TN,37075.0
77,Tristar Southern Hills Medical Center,391 Wallace Rd,Nashville,TN,37211.0
78,Tristar Stonecrest Medical Center,200 Stonecrest Boulevard,Smyrna,TN,37167.0

In [19]:
# drop duplicates
outpatient_tmp = outpatient_tmp.drop_duplicates(keep=False)
outpatient_tmp

,full_name,address,city,state,zip
2,Sumner Regional Medical Center,555 Hartsville Pike,Gallatin,TN,37066.0
3,Tristar Skyline Medical Center,3441 Dickerson Pike,Nashville,TN,37207.0
4,Cumberland Medical Center,421 S Main St,Crossville,TN,38555.0
5,Blount Memorial Hospital,907 E Lamar Alexander Parkway,Maryville,TN,37804.0
6,Wellmont Bristol Regional Medical Center,One Medical Park Blvd,Bristol,TN,37620.0
9,Wellmont Holston Valley Medical Center,130 West Ravine Road,Kingsport,TN,37662.0
14,Williamson Medical Center,4321 Carothers Parkway,Franklin,TN,37067.0
15,Morristown Hamblen Hospital Association,908 W 4th North St,Morristown,TN,37814.0
16,Lakeway Regional Hospital,726 Mcfarland St,Morristown,TN,37814.0
17,Roane Medical Center,8045 Roane Medical Center Drive,Harriman,TN,37748.0
18,Tennova Healthcare-Lafollett Medical Center,923 East Central Avenue,La Follette,TN,37766.0
19,Methodist Medical Center Of Oak Ridge,990 Oak Ridge Turnpike Box 529,Oak Ridge,TN,37830.0
20,Tennova Healthcare-Clarksville,651 Dunlop Lane,Clarksville,TN,37040.0
21,Vanderbilt University Medical Center,1211 Medical Center Drive,Nashville,TN,37232.0
24,Baptist Memorial Hospital,6019 Walnut Grove Road,Memphis,TN,38120.0
25,Methodist Healthcare Memphis Hospitals,1265 Union Ave Suite 700,Memphis,TN,38104.0
28,Saint Thomas Rutherford Hospital,1700 Medical Center Parkway,Murfreesboro,TN,37129.0
29,Claiborne Medical Center,1850 Old Knoxville Highway,Tazewell,TN,37879.0
30,Southern Tennessee Regional Hlth System Winche...,185 Hospital Road,Winchester,TN,37398.0
31,Cookeville Regional Medical Center,1 Medical Center Boulevard,Cookeville,TN,38501.0
36,Johnson City Medical Center,400 N State Of Franklin Rd,Johnson City,TN,37604.0
37,Northcrest Medical Center,100 Northcrest Drive,Springfield,TN,37172.0
38,Starr Regional Medical Center Athens,1114 W Madison Ave,Athens,TN,37371.0
39,Tennova Healthcare-Dyersburg Regional,400 Tickle St,Dyersburg,TN,38024.0
42,Saint Thomas West Hospital,"4220 Harding Rd, Po Box 380",Nashville,TN,37205.0
43,Tennova Healthcare - Jamestown,436 Central Avenue West,Jamestown,TN,38556.0
47,"Memorial Healthcare System, Inc",2525 Desales Ave,Chattanooga,TN,37404.0
48,Parkridge Medical Center,2333 Mccallie Ave,Chattanooga,TN,37404.0
52,Erlanger Medical Center,975 E 3rd St,Chattanooga,TN,37403.0
53,Hardin Medical Center,935 Wayne Road,Savannah,TN,38372.0
54,Fort Loudon Medical Center,550 Fort Loudon Medical Center Dr,Lenoir City,TN,37772.0
55,Metro Nashville General Hospital,1818 Albion Street,Nashville,TN,37208.0
56,Tennova Healthcare,900 East Oak Hill Avenue,Knoxville,TN,37917.0
57,Fort Sanders Regional Medical Center,1901 W Clinch Ave,Knoxville,TN,37916.0
62,Saint Thomas Midtown Hospital,2000 Church St,Nashville,TN,37236.0
65,Tristar Summit Medical Center,5655 Frist Blvd,Hermitage,TN,37076.0
66,Tristar Centennial Medical Center,2300 Patterson Street,Nashville,TN,37203.0
67,Parkwest Medical Center,9352 Park West Blvd,Knoxville,TN,37923.0
75,Tennova Healthcare-Lebanon,1411 Baddour Parkway,Lebanon,TN,37087.0
76,Tristar Hendersonville Medical Center,355 New Shackle Island Rd,Hendersonville,TN,37075.0
77,Tristar Southern Hills Medical Center,391 Wallace Rd,Nashville,TN,37211.0
78,Tristar Stonecrest Medical Center,200 Stonecrest Boulevard,Smyrna,TN,37167.0

In [20]:
# save this version of outpatient_tmp for later
# outpatient_providers = outpatient_tmp.drop(['apc','apc_description'], axis=1)

outpatient_providers = outpatient_tmp

# save_me
outpatient_providers.to_csv('../data/clean/outpatient_providers.csv')

In [21]:
# tennessee providers has NaNs in the full_name field. Fix them.
tennessee_providers['full_name'].fillna(tennessee_providers['last_name'], inplace = True) 

# confirm that there are no NaNs in the full_name field. Ok to have them in other fields
null_columns=tennessee_providers.columns[tennessee_providers.isnull().any()]
tennessee_providers[null_columns].isnull().sum()

first_name      38
address2      1283
dtype: int64

In [22]:
# drop first_ and last_name from tennessee_providers, will only use full_name
tennessee_providers = tennessee_providers.drop(['first_name', 'last_name'], axis=1)

tennessee_providers

,address,address2,city,state,zip,full_name
6354,1700 carmack blvd,NaN,Columbia,TN,38401,Ralph Stone
15768,214 west longview drive,NaN,Portland,TN,37148,State of tennessee
17080,1222 trotwood ave ste 603,NaN,Columbia,TN,38401,Patrick Davis
26250,1 medical park blvd,NaN,Bristol,TN,376207430,Cassondra Horn
27899,3310 w end ave,Suite 590,Nashville,TN,372031028,Emily Hiatt
...,...,...,...,...,...,...
9834934,975 e 3rd st,NaN,Chattanooga,TN,374032147,Jasmine Shah
9834942,713 cheatham st,NaN,Springfield,TN,371722828,Marie Basty
9839309,317 n hickory ave,NaN,Cookeville,TN,385012428,Amanda Bell
9840208,5301 virginia way,Suite 300,Brentwood,TN,370277541,Farrukh Gill
9841223,1124 new highway 52 e,NaN,Westmoreland,TN,371865060,Amanda Perry

In [23]:
tennessee_providers.address.value_counts()

110 29th ave n                43
3601 tvc                      38
3601 the vanderbilt clinic    35
110 29th ave n ste 202        25
501 20th st                   22
                              ..
2000 old fort pkwy             1
114 highway 70 e               1
1112 nashville pike            1
105 cherokee rd                1
6000 ramsey way                1
Name: address, Length: 1361, dtype: int64

In [24]:
# extract addresses from tennessee_providers for geocoding
tennessee_providers_addresses = tennessee_providers[['address', 'city', 'state', 'zip']]

tennessee_providers_addresses

                           address          city state        zip
6354             1700 carmack blvd      Columbia    TN      38401
15768      214 west longview drive      Portland    TN      37148
17080    1222 trotwood ave ste 603      Columbia    TN      38401
26250          1 medical park blvd       Bristol    TN  376207430
27899               3310 w end ave     Nashville    TN  372031028
...                            ...           ...   ...        ...
9834934               975 e 3rd st   Chattanooga    TN  374032147
9834942            713 cheatham st   Springfield    TN  371722828
9839309          317 n hickory ave    Cookeville    TN  385012428
9840208          5301 virginia way     Brentwood    TN  370277541
9841223      1124 new highway 52 e  Westmoreland    TN  371865060

[1997 rows x 4 columns]

In [25]:
# save these versions of tennessee_providers_addresses and tennessee_providers for later
tennessee_providers_addresses.to_csv('../data/clean/tennessee_providers_addresses.csv')
tennessee_providers.to_csv('../data/clean/tennessee_providers.csv')

In [26]:
# hey, stop here
# get geocodes for tennessee_providers_addresses, then clean up results file in BBEdit … 
#     will need to remove double quotes around each value and add names to columns w/o them

## Import and Join Geocodes to DataFrames

In [27]:
# NOTE: outpatient_geocoded_addresses does not include the three public clinics in davidson County. 
# I added them manually 
#     42	East Public Health Center	1015 East Trinity Lane	Nashville	TN		Nashville	TN		-86.745286	36.204273
#     43	Woodbine Public Health Center	224 Oriel Avenue	Nashville	TN		Nashville	TN		-86.743627	36.122097
#     44	Lentz Public Health Center	2500 Charlotte Avenue	Nashville	TN		Nashville	TN		-86.812991	36.155043

In [28]:
# set up import variables

# import geocoded address files for joining
tennessee_providers_geocodes_csv = '../data/location/tennessee_providers_geocoded_addresses.csv'
outpatient_geocodes_csv = '../data/clean/all_providers_geocodes.csv'
# outpatient_geocodes_csv = '../data/clean/outpatient_geocodes.csv'   # Not sure what this file was for


# import only the needed columns from outpatient_geocodes
columns = ['address', ' city', ' state', ' zip', 'longitude', 'latitude'] 
# import file to create dataframe
outpatient_geocodes = pd.read_csv(outpatient_geocodes_csv, usecols=columns)
# delete initial space in column names
outpatient_geocodes.columns = outpatient_geocodes.columns.str.replace(' ', '').str.lower()


# repeat for tennessee_providers_geocodes, note lack of leading space in column names
columns = ['address', 'city', 'state', 'zip', 'longitude', 'latitude'] 
tennessee_providers_geocodes = pd.read_csv(tennessee_providers_geocodes_csv, usecols=columns)


# confirm imports
print('This is outpatient with geocodes')
print(outpatient_geocodes.info())
print('This is tennessee_providers with geocodes')
print(tennessee_providers_geocodes.info())

This is outpatient with geocodes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 806 entries, 0 to 805
Data columns (total 6 columns):
address      806 non-null object
city         806 non-null object
state        806 non-null object
zip          806 non-null int64
longitude    576 non-null float64
latitude     576 non-null float64
dtypes: float64(2), int64(1), object(3)
memory usage: 37.9+ KB
None
This is tennessee_providers with geocodes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1997 entries, 0 to 1996
Data columns (total 6 columns):
address      1997 non-null object
city         1997 non-null object
state        1997 non-null object
zip          1996 non-null float64
longitude    1461 non-null float64
latitude     1462 non-null float64
dtypes: float64(3), object(3)
memory usage: 93.7+ KB
None

In [29]:
# join outpatient files
# note, if I include 'city', 'state', 'zip' in my join, I don't get longitude and latitude
#     Joining on 'address' only give more complete results. Only two Nashville addresses w/o longitude and latitude

outpatient_locations = pd.merge(outpatient_tmp, outpatient_geocodes, how='left', on=['address'])

outpatient_locations.tail(50)

,full_name,address,city_x,state_x,zip_x,city_y,state_y,zip_y,longitude,latitude
0,Sumner Regional Medical Center,555 Hartsville Pike,Gallatin,TN,37066.0,Gallatin,TN,37066.0,NaN,NaN
1,Tristar Skyline Medical Center,3441 Dickerson Pike,Nashville,TN,37207.0,Nashville,TN,37207.0,NaN,NaN
2,Cumberland Medical Center,421 S Main St,Crossville,TN,38555.0,Crossville,TN,38555.0,NaN,NaN
3,Blount Memorial Hospital,907 E Lamar Alexander Parkway,Maryville,TN,37804.0,Maryville,TN,37804.0,-83.959100,35.754974
4,Wellmont Bristol Regional Medical Center,One Medical Park Blvd,Bristol,TN,37620.0,Bristol,TN,37620.0,NaN,NaN
5,Wellmont Holston Valley Medical Center,130 West Ravine Road,Kingsport,TN,37662.0,Kingsport,TN,37662.0,NaN,NaN
6,Williamson Medical Center,4321 Carothers Parkway,Franklin,TN,37067.0,Franklin,TN,37067.0,-86.816950,35.917603
7,Morristown Hamblen Hospital Association,908 W 4th North St,Morristown,TN,37814.0,Morristown,TN,37814.0,-83.304390,36.211937
8,Lakeway Regional Hospital,726 Mcfarland St,Morristown,TN,37814.0,Morristown,TN,37814.0,-83.304310,36.214622
9,Roane Medical Center,8045 Roane Medical Center Drive,Harriman,TN,37748.0,Harriman,TN,37748.0,-84.555176,35.889380
10,Tennova Healthcare-Lafollett Medical Center,923 East Central Avenue,La Follette,TN,37766.0,La Follette,TN,37766.0,NaN,NaN
11,Methodist Medical Center Of Oak Ridge,990 Oak Ridge Turnpike Box 529,Oak Ridge,TN,37830.0,Oak Ridge,TN,37830.0,NaN,NaN
12,Tennova Healthcare-Clarksville,651 Dunlop Lane,Clarksville,TN,37040.0,Clarksville,TN,37040.0,-87.270070,36.579998
13,Vanderbilt University Medical Center,1211 Medical Center Drive,Nashville,TN,37232.0,Nashville,TN,37232.0,NaN,NaN
14,Baptist Memorial Hospital,6019 Walnut Grove Road,Memphis,TN,38120.0,Memphis,TN,38120.0,NaN,NaN
15,Methodist Healthcare Memphis Hospitals,1265 Union Ave Suite 700,Memphis,TN,38104.0,Memphis,TN,38104.0,-90.019356,35.137104
16,Saint Thomas Rutherford Hospital,1700 Medical Center Parkway,Murfreesboro,TN,37129.0,Murfreesboro,TN,37129.0,-86.421070,35.860270
17,Claiborne Medical Center,1850 Old Knoxville Highway,Tazewell,TN,37879.0,Tazewell,TN,37879.0,NaN,NaN
18,Southern Tennessee Regional Hlth System Winche...,185 Hospital Road,Winchester,TN,37398.0,Winchester,TN,37398.0,-86.091080,35.176003
19,Cookeville Regional Medical Center,1 Medical Center Boulevard,Cookeville,TN,38501.0,Cookeville,TN,38501.0,-85.509520,36.170155
20,Johnson City Medical Center,400 N State Of Franklin Rd,Johnson City,TN,37604.0,Johnson City,TN,37604.0,-82.386536,36.308666
21,Northcrest Medical Center,100 Northcrest Drive,Springfield,TN,37172.0,Springfield,TN,37172.0,NaN,NaN
22,Starr Regional Medical Center Athens,1114 W Madison Ave,Athens,TN,37371.0,Athens,TN,37371.0,NaN,NaN
23,Tennova Healthcare-Dyersburg Regional,400 Tickle St,Dyersburg,TN,38024.0,Dyersburg,TN,38024.0,-89.380910,36.047314
24,Saint Thomas West Hospital,"4220 Harding Rd, Po Box 380",Nashville,TN,37205.0,NaN,NaN,NaN,NaN,NaN
25,Tennova Healthcare - Jamestown,436 Central Avenue West,Jamestown,TN,38556.0,Jamestown,TN,38556.0,NaN,NaN
26,"Memorial Healthcare System, Inc",2525 Desales Ave,Chattanooga,TN,37404.0,Chattanooga,TN,37404.0,-85.261410,35.040160
27,Parkridge Medical Center,2333 Mccallie Ave,Chattanooga,TN,37404.0,Chattanooga,TN,37404.0,-85.267570,35.033268
28,Erlanger Medical Center,975 E 3rd St,Chattanooga,TN,37403.0,Chattanooga,TN,37403.0,NaN,NaN
29,Hardin Medical Center,935 Wayne Road,Savannah,TN,38372.0,Savannah,TN,38372.0,-88.230570,35.227165
30,Fort Loudon Medical Center,550 Fort Loudon Medical Center Dr,Lenoir City,TN,37772.0,Lenoir City,TN,37772.0,-84.271164,35.825400
31,Metro Nashville General Hospital,1818 Albion Street,Nashville,TN,37208.0,Nashville,TN,37208.0,-86.805620,36.166256
32,Tennova Healthcare,900 East Oak Hill Avenue,Knoxville,TN,37917.0,Knoxville,TN,37917.0,NaN,NaN
33,Fort Sanders Regional Medical Center,1901 W Clinch Ave,Knoxville,TN,37916.0,Knoxville,TN,37916.0,-83.936325,35.957134
34,Saint Thomas Midtown Hospital,2000 Church St,Nashville,TN,37236.0,Nashville,TN,37236.0,-86.800990,36.153330
35,Tristar Summit Medical Center,5655 Frist Blvd,Hermitage,TN,37076.0,Hermitage,TN,37076.0,NaN,NaN
36,Tristar Centennial Medical Center,2300 Patterson Street,Nashville,TN,37203.0,Nashville,TN,37203.0,-86.809600,36.151870
37,Parkwest Medical Center,9352 Park West Blvd,Knoxville,TN,37923.0,Knoxville,TN,37923.0,-84.098656,35.918390
38,Tennova Healthcare-Lebanon,1411 Baddour Parkway,Lebanon,TN,37087.0,Lebanon,TN,37087.0,-86.328500,36.219234
39,Tristar Hendersonville Medical Center,355 New Shackle Island Rd,Hendersonville,TN,37075.0,Hendersonville,TN,37075.0,-86.620030,36.322113
40,Tristar Southern Hills Medical Center,391 Wallace Rd,Nashville,TN,37211.0,Nashville,TN,37211.0,-86.723170,36.078094
41,Tristar Stonecrest Medical Center,200 Stonecrest Boulevard,Smyrna,TN,37167.0,Smyrna,TN,37167.0,-86.563990,35.972836

In [30]:
# export geocoded outpatient addresses
outpatient_locations.to_csv('../data/clean/outpatient_geocoded_addresses.csv')

In [31]:
# join tennessee_providers files
# note, if I include 'city', 'state', 'zip' in my join, I don't get longitude and latitude
#     Joining on 'address' only give more complete results. Only two Nashville addresses w/o longitude and latitude
result = pd.merge(tennessee_providers, tennessee_providers_geocodes, how='left', on=['address'])

result.head(50)

,address,address2,city_x,state_x,zip_x,full_name,city_y,state_y,zip_y,longitude,latitude
0,1700 carmack blvd,NaN,Columbia,TN,38401,Ralph Stone,Columbia,TN,38401.0,NaN,NaN
1,214 west longview drive,NaN,Portland,TN,37148,State of tennessee,Portland,TN,37148.0,-86.515460,36.560825
2,1222 trotwood ave ste 603,NaN,Columbia,TN,38401,Patrick Davis,Columbia,TN,38401.0,-87.065560,35.606100
3,1 medical park blvd,NaN,Bristol,TN,376207430,Cassondra Horn,Bristol,TN,376207430.0,-82.253800,36.589270
4,1 medical park blvd,NaN,Bristol,TN,376207430,Cassondra Horn,Bristol,TN,376207430.0,-82.253800,36.589270
5,1 medical park blvd,NaN,Bristol,TN,376207430,Cassondra Horn,Bristol,TN,376207430.0,-82.253800,36.589270
6,1 medical park blvd,NaN,Bristol,TN,376207430,Cassondra Horn,Bristol,TN,376207430.0,-82.253800,36.589270
7,1 medical park blvd,NaN,Bristol,TN,376207430,Cassondra Horn,Bristol,TN,376207430.0,-82.253800,36.589270
8,1 medical park blvd,NaN,Bristol,TN,376207430,Cassondra Horn,Bristol,TN,376207430.0,-82.253800,36.589270
9,1 medical park blvd,NaN,Bristol,TN,376207430,Cassondra Horn,Bristol,TN,376207430.0,-82.253800,36.589270
10,1 medical park blvd,NaN,Bristol,TN,376207430,Cassondra Horn,Bristol,TN,376207430.0,-82.253800,36.589270
11,1 medical park blvd,NaN,Bristol,TN,376207430,Cassondra Horn,Bristol,TN,376207430.0,-82.253800,36.589270
12,1 medical park blvd,NaN,Bristol,TN,376207430,Cassondra Horn,Bristol,TN,376207430.0,-82.253800,36.589270
13,1 medical park blvd,NaN,Bristol,TN,376207430,Cassondra Horn,Bristol,TN,376207430.0,-82.253800,36.589270
14,1 medical park blvd,NaN,Bristol,TN,376207430,Cassondra Horn,Bristol,TN,376207430.0,-82.253800,36.589270
15,1 medical park blvd,NaN,Bristol,TN,376207430,Cassondra Horn,Bristol,TN,376207430.0,-82.253800,36.589270
16,1 medical park blvd,NaN,Bristol,TN,376207430,Cassondra Horn,Bristol,TN,376207430.0,-82.253800,36.589270
17,1 medical park blvd,NaN,Bristol,TN,376207430,Cassondra Horn,Bristol,TN,376207430.0,-82.253800,36.589270
18,3310 w end ave,Suite 590,Nashville,TN,372031028,Emily Hiatt,Nashville,TN,372031028.0,-86.817690,36.140644
19,1740 n germantown pkwy,Suite #6,Cordova,TN,380163307,Charles Hogan,Cordova,TN,380163307.0,-89.792910,35.173042
20,6031 shallowford rd ste 117,NaN,Chattanooga,TN,374211984,Brittany Pryor,Chattanooga,TN,374211984.0,-85.188446,35.053970
21,5039 park ave,Suite 102,Memphis,TN,381175701,Laura Vaughn,Memphis,TN,381175701.0,-89.893960,35.106540
22,325 n state of franklin rd,NaN,Johnson city,TN,37604,Martin Olsen,Johnson city,TN,376046062.0,-82.386490,36.306812
23,325 n state of franklin rd,NaN,Johnson city,TN,37604,Martin Olsen,Johnson city,TN,37604.0,-82.386490,36.306812
24,325 n state of franklin rd,NaN,Johnson city,TN,37604,Martin Olsen,Johnson city,TN,37604.0,-82.386490,36.306812
25,325 n state of franklin rd,NaN,Johnson city,TN,37604,Martin Olsen,Johnson city,TN,376046062.0,-82.386490,36.306812
26,325 n state of franklin rd,NaN,Johnson city,TN,37604,Martin Olsen,Johnson city,TN,376046056.0,-82.386490,36.306812
27,325 n state of franklin rd,NaN,Johnson city,TN,37604,Martin Olsen,Johnson city,TN,37614.0,NaN,NaN
28,9330 park west blvd,Suite 108,Knoxville,TN,379234308,Brent Grishkin,Knoxville,TN,379234308.0,-84.098040,35.918430
29,9330 park west blvd,Suite 108,Knoxville,TN,379234308,Brent Grishkin,Knoxville,TN,379234308.0,-84.098040,35.918430
30,3183 w state st,Suite 1201,Bristol,TN,376201712,Steven Morgan,Bristol,TN,376201712.0,-82.238360,36.591890
31,110 29th ave n,Ste 202,Nashville,TN,372031401,Misty Handy,Nashville,TN,372031401.0,-86.813620,36.145176
32,110 29th ave n,Ste 202,Nashville,TN,372031401,Misty Handy,Nashville,TN,372031401.0,-86.813620,36.145176
33,110 29th ave n,Ste 202,Nashville,TN,372031401,Misty Handy,Nashville,TN,372031401.0,-86.813620,36.145176
34,110 29th ave n,Ste 202,Nashville,TN,372031401,Misty Handy,Nashville,TN,372031401.0,-86.813620,36.145176
35,110 29th ave n,Ste 202,Nashville,TN,372031401,Misty Handy,Nashville,TN,372031401.0,-86.813620,36.145176
36,110 29th ave n,Ste 202,Nashville,TN,372031401,Misty Handy,Nashville,TN,372031401.0,-86.813620,36.145176
37,110 29th ave n,Ste 202,Nashville,TN,372031401,Misty Handy,Nashville,TN,372031401.0,-86.813620,36.145176
38,110 29th ave n,Ste 202,Nashville,TN,372031401,Misty Handy,Nashville,TN,372031401.0,-86.813620,36.145176
39,110 29th ave n,Ste 202,Nashville,TN,372031401,Misty Handy,Nashville,TN,372031401.0,-86.813620,36.145176
40,110 29th ave n,Ste 202,Nashville,TN,372031401,Misty Handy,Nashville,TN,372031401.0,-86.813620,36.145176
41,110 29th ave n,Ste 202,Nashville,TN,372031401,Misty Handy,Nashville,TN,37203.0,-86.813620,36.145176
42,110 29th ave n,Ste 202,Nashville,TN,372031401,Misty Handy,Nashville,TN,372031401.0,-86.813620,36.145176
43,110 29th ave n,Ste 202,Nashville,TN,372031401,Misty Handy,Nashville,TN,372031401.0,-86.813620,36.145176
44,110 29th ave n,Ste 202,Nashville,TN,372031401,Misty Handy,Nashville,TN,372031401.0,-86.813620,36.145176
45,110 29th ave n,Ste 202,Nashville,TN,372031401,Misty Handy,Nashville,TN,372031401.0,-86.813620,36.145176
46,110 29th ave n,Ste 202,Nashville,TN,372031401,Misty Handy,Nashville,TN,372031401.0,-86.813620,36.145176
47,110 29th ave n,Ste 202,Nashville,TN,372031401,Misty Handy,Nashville,TN,372031401.0,-86.813620,36.145176
48,110 29th ave n,Ste 202,Nashville,TN,372031401,Misty Handy,Nashville,TN,372031401.0,-86.813620,36.145176
49,110 29th ave n,Ste 202,Nashville,TN,372031401,Misty Handy,Nashville,TN,372031401.0,-86.813620,36.145176

In [32]:
# drop duplicates
tennessee_providers = result.drop_duplicates(keep=False)
tennessee_providers

,address,address2,city_x,state_x,zip_x,full_name,city_y,state_y,zip_y,longitude,latitude
0,1700 carmack blvd,NaN,Columbia,TN,38401,Ralph Stone,Columbia,TN,38401.0,NaN,NaN
1,214 west longview drive,NaN,Portland,TN,37148,State of tennessee,Portland,TN,37148.0,-86.51546,36.560825
2,1222 trotwood ave ste 603,NaN,Columbia,TN,38401,Patrick Davis,Columbia,TN,38401.0,-87.06556,35.606100
18,3310 w end ave,Suite 590,Nashville,TN,372031028,Emily Hiatt,Nashville,TN,372031028.0,-86.81769,36.140644
19,1740 n germantown pkwy,Suite #6,Cordova,TN,380163307,Charles Hogan,Cordova,TN,380163307.0,-89.79291,35.173042
...,...,...,...,...,...,...,...,...,...,...,...
10074,3601 the vanderbilt clinic,NaN,Nashville,TN,372320014,Tiffany Street,Nashville,TN,372322012.0,NaN,NaN
10101,975 e 3rd st,NaN,Chattanooga,TN,374032147,Jasmine Shah,Chattanooga,TN,374032103.0,NaN,NaN
10102,975 e 3rd st,NaN,Chattanooga,TN,374032147,Jasmine Shah,Chattanooga,TN,37403.0,NaN,NaN
10109,5301 virginia way,Suite 300,Brentwood,TN,370277541,Farrukh Gill,Brentwood,TN,370277541.0,-86.80924,36.032856
10110,1124 new highway 52 e,NaN,Westmoreland,TN,371865060,Amanda Perry,Westmoreland,TN,371865060.0,NaN,NaN

In [33]:
# export geocoded outpatient addresses
tennessee_providers.to_csv('../data/clean/tennessee_providers_geocoded_addresses.csv')

In [39]:
# hey, stop here

In [40]:
# join temp dataframes so that all providers are in one geocoded file
all_providers = outpatient_locations.append(tennessee_providers)

# fix column names
all_providers.columns = ['address', 'address2', 'city', 'city_y', 'full_name', 'latitude', 'longitude', 
           'state', 'state_y', 'zip', 'zip_y']
# drop extra columns
all_providers = all_providers.drop(['city_y', 'state_y', 'zip_y'], axis=1)
all_providers.head(50)

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:7123: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

,address,address2,city,full_name,latitude,longitude,state,zip
0,555 Hartsville Pike,NaN,Gallatin,Sumner Regional Medical Center,NaN,NaN,TN,37066.0
1,3441 Dickerson Pike,NaN,Nashville,Tristar Skyline Medical Center,NaN,NaN,TN,37207.0
2,421 S Main St,NaN,Crossville,Cumberland Medical Center,NaN,NaN,TN,38555.0
3,907 E Lamar Alexander Parkway,NaN,Maryville,Blount Memorial Hospital,35.754974,-83.959100,TN,37804.0
4,One Medical Park Blvd,NaN,Bristol,Wellmont Bristol Regional Medical Center,NaN,NaN,TN,37620.0
5,130 West Ravine Road,NaN,Kingsport,Wellmont Holston Valley Medical Center,NaN,NaN,TN,37662.0
6,4321 Carothers Parkway,NaN,Franklin,Williamson Medical Center,35.917603,-86.816950,TN,37067.0
7,908 W 4th North St,NaN,Morristown,Morristown Hamblen Hospital Association,36.211937,-83.304390,TN,37814.0
8,726 Mcfarland St,NaN,Morristown,Lakeway Regional Hospital,36.214622,-83.304310,TN,37814.0
9,8045 Roane Medical Center Drive,NaN,Harriman,Roane Medical Center,35.889380,-84.555176,TN,37748.0
10,923 East Central Avenue,NaN,La Follette,Tennova Healthcare-Lafollett Medical Center,NaN,NaN,TN,37766.0
11,990 Oak Ridge Turnpike Box 529,NaN,Oak Ridge,Methodist Medical Center Of Oak Ridge,NaN,NaN,TN,37830.0
12,651 Dunlop Lane,NaN,Clarksville,Tennova Healthcare-Clarksville,36.579998,-87.270070,TN,37040.0
13,1211 Medical Center Drive,NaN,Nashville,Vanderbilt University Medical Center,NaN,NaN,TN,37232.0
14,6019 Walnut Grove Road,NaN,Memphis,Baptist Memorial Hospital,NaN,NaN,TN,38120.0
15,1265 Union Ave Suite 700,NaN,Memphis,Methodist Healthcare Memphis Hospitals,35.137104,-90.019356,TN,38104.0
16,1700 Medical Center Parkway,NaN,Murfreesboro,Saint Thomas Rutherford Hospital,35.860270,-86.421070,TN,37129.0
17,1850 Old Knoxville Highway,NaN,Tazewell,Claiborne Medical Center,NaN,NaN,TN,37879.0
18,185 Hospital Road,NaN,Winchester,Southern Tennessee Regional Hlth System Winche...,35.176003,-86.091080,TN,37398.0
19,1 Medical Center Boulevard,NaN,Cookeville,Cookeville Regional Medical Center,36.170155,-85.509520,TN,38501.0
20,400 N State Of Franklin Rd,NaN,Johnson City,Johnson City Medical Center,36.308666,-82.386536,TN,37604.0
21,100 Northcrest Drive,NaN,Springfield,Northcrest Medical Center,NaN,NaN,TN,37172.0
22,1114 W Madison Ave,NaN,Athens,Starr Regional Medical Center Athens,NaN,NaN,TN,37371.0
23,400 Tickle St,NaN,Dyersburg,Tennova Healthcare-Dyersburg Regional,36.047314,-89.380910,TN,38024.0
24,"4220 Harding Rd, Po Box 380",NaN,Nashville,Saint Thomas West Hospital,NaN,NaN,TN,37205.0
25,436 Central Avenue West,NaN,Jamestown,Tennova Healthcare - Jamestown,NaN,NaN,TN,38556.0
26,2525 Desales Ave,NaN,Chattanooga,"Memorial Healthcare System, Inc",35.040160,-85.261410,TN,37404.0
27,2333 Mccallie Ave,NaN,Chattanooga,Parkridge Medical Center,35.033268,-85.267570,TN,37404.0
28,975 E 3rd St,NaN,Chattanooga,Erlanger Medical Center,NaN,NaN,TN,37403.0
29,935 Wayne Road,NaN,Savannah,Hardin Medical Center,35.227165,-88.230570,TN,38372.0
30,550 Fort Loudon Medical Center Dr,NaN,Lenoir City,Fort Loudon Medical Center,35.825400,-84.271164,TN,37772.0
31,1818 Albion Street,NaN,Nashville,Metro Nashville General Hospital,36.166256,-86.805620,TN,37208.0
32,900 East Oak Hill Avenue,NaN,Knoxville,Tennova Healthcare,NaN,NaN,TN,37917.0
33,1901 W Clinch Ave,NaN,Knoxville,Fort Sanders Regional Medical Center,35.957134,-83.936325,TN,37916.0
34,2000 Church St,NaN,Nashville,Saint Thomas Midtown Hospital,36.153330,-86.800990,TN,37236.0
35,5655 Frist Blvd,NaN,Hermitage,Tristar Summit Medical Center,NaN,NaN,TN,37076.0
36,2300 Patterson Street,NaN,Nashville,Tristar Centennial Medical Center,36.151870,-86.809600,TN,37203.0
37,9352 Park West Blvd,NaN,Knoxville,Parkwest Medical Center,35.918390,-84.098656,TN,37923.0
38,1411 Baddour Parkway,NaN,Lebanon,Tennova Healthcare-Lebanon,36.219234,-86.328500,TN,37087.0
39,355 New Shackle Island Rd,NaN,Hendersonville,Tristar Hendersonville Medical Center,36.322113,-86.620030,TN,37075.0
40,391 Wallace Rd,NaN,Nashville,Tristar Southern Hills Medical Center,36.078094,-86.723170,TN,37211.0
41,200 Stonecrest Boulevard,NaN,Smyrna,Tristar Stonecrest Medical Center,35.972836,-86.563990,TN,37167.0
0,1700 carmack blvd,NaN,Columbia,Ralph Stone,NaN,NaN,TN,38401.0
1,214 west longview drive,NaN,Portland,State of tennessee,36.560825,-86.515460,TN,37148.0
2,1222 trotwood ave ste 603,NaN,Columbia,Patrick Davis,35.606100,-87.065560,TN,38401.0
18,3310 w end ave,Suite 590,Nashville,Emily Hiatt,36.140644,-86.817690,TN,372031028.0
19,1740 n germantown pkwy,Suite #6,Cordova,Charles Hogan,35.173042,-89.792910,TN,380163307.0
20,6031 shallowford rd ste 117,NaN,Chattanooga,Brittany Pryor,35.053970,-85.188446,TN,374211984.0
21,5039 park ave,Suite 102,Memphis,Laura Vaughn,35.106540,-89.893960,TN,381175701.0
26,325 n state of franklin rd,NaN,Johnson city,Martin Olsen,36.306812,-82.386490,TN,37604.0

In [41]:
# # drop duplicates
# all_providers = all_providers.drop_duplicates(keep=False)
# all_providers

In [42]:
all_providers.tail()

,address,address2,city,full_name,latitude,longitude,state,zip
10074,3601 the vanderbilt clinic,NaN,Nashville,Tiffany Street,NaN,NaN,TN,372320014.0
10101,975 e 3rd st,NaN,Chattanooga,Jasmine Shah,NaN,NaN,TN,374032147.0
10102,975 e 3rd st,NaN,Chattanooga,Jasmine Shah,NaN,NaN,TN,374032147.0
10109,5301 virginia way,Suite 300,Brentwood,Farrukh Gill,36.032856,-86.80924,TN,370277541.0
10110,1124 new highway 52 e,NaN,Westmoreland,Amanda Perry,NaN,NaN,TN,371865060.0

In [43]:
# export unique addresses for geocoding later
# all_providers_addresses = all_providers[['address','city', 'state', 'zip']]

# drop duplicate addresses
all_providers.drop_duplicates(keep=False,inplace=True)

all_providers.tail()

,address,address2,city,full_name,latitude,longitude,state,zip
10049,710 carl perkins parkway,NaN,Tiptonville,Carol Guess,36.369045,-89.46850,TN,380791305.0
10050,2805 old fort pkwy,Suite d,Murfreesboro,Amy Bennett,35.844967,-86.44899,TN,371285115.0
10054,415 n lindell st,NaN,Martin,Phillip Elliott,NaN,NaN,TN,38237.0
10109,5301 virginia way,Suite 300,Brentwood,Farrukh Gill,36.032856,-86.80924,TN,370277541.0
10110,1124 new highway 52 e,NaN,Westmoreland,Amanda Perry,NaN,NaN,TN,371865060.0

In [44]:
all_providers.head()

,address,address2,city,full_name,latitude,longitude,state,zip
0,555 Hartsville Pike,NaN,Gallatin,Sumner Regional Medical Center,NaN,NaN,TN,37066.0
1,3441 Dickerson Pike,NaN,Nashville,Tristar Skyline Medical Center,NaN,NaN,TN,37207.0
2,421 S Main St,NaN,Crossville,Cumberland Medical Center,NaN,NaN,TN,38555.0
3,907 E Lamar Alexander Parkway,NaN,Maryville,Blount Memorial Hospital,35.754974,-83.9591,TN,37804.0
4,One Medical Park Blvd,NaN,Bristol,Wellmont Bristol Regional Medical Center,NaN,NaN,TN,37620.0

In [45]:
# all_providers_addresses.info()

# # NOTE: zip colim needs to be an integer to work with online geocoder at: 
# # https://geocoding.geo.census.gov/geocoder/geographies/addressbatch?form

# # df['column name'] = df['column name'].astype(np.int64)
# all_providers_addresses['zip'] = all_providers_addresses['zip'].astype(np.int64)

In [46]:
all_providers.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1366 entries, 0 to 10110
Data columns (total 8 columns):
address      1366 non-null object
address2     448 non-null object
city         1366 non-null object
full_name    1366 non-null object
latitude     973 non-null float64
longitude    973 non-null float64
state        1366 non-null object
zip          1366 non-null float64
dtypes: float64(3), object(5)
memory usage: 96.0+ KB

In [47]:
# export address dataframe for geocoding
# all_providers.to_csv('../data/clean/all_providers.csv')
all_providers.to_csv('../data/clean/all_providers_geocoded_addresses.csv')

## NOTE: This notebook needs some cleaning up. The cells below are no longer being used. There are also a few above that have been commented out.

In [48]:
# NOTE This info may no longer be needed


########################### READ ME FOR LATER #################################
# NOTE: The addresses file will go through the geocoder and return the following format: "","xxx",""
#     This is a comma-delimited format with double quotes around each cell. I've been goint into BBEdit and
#     deleting the double quotes. Loads fine after that, but you'll still need to add column names, see below.
   
# Keep these columns 
#     - drop_me
#     - address
#     - city
#     - state
#     - zip
#     - No_Match
#     - match_type
#     - longitude
#     - latitude

# Drop these columns
#     - street2
#     - city2
#     - state2
#     - zip2
#     - unknown
#     - unknown2
#     - unknown3
#     - unknown4
#     - unknown5
#     - unknown6

In [49]:
# # set up import variables
# all_providers_geocodes_csv = '../data/clean/all_providers_geocodes.csv'
# columns = ['address', ' city', ' state', ' zip', 'longitude', 'latitude'] 


# # import files to dataframes
# all_providers_geocodes = pd.read_csv(all_providers_geocodes_csv, usecols=columns)

# # delete initial space in column names
# all_providers_geocodes.columns = all_providers_geocodes.columns.str.replace(' ', '').str.lower()

# all_providers_geocodes.info()

In [50]:
# # join geocoded addresses
# # pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None,
# #          left_index=False, right_index=False, sort=True,
# #          suffixes=('_x', '_y'), copy=True, indicator=False,
# #          validate=None)

# #DEBUGDEBUG This is not working correctly
# result = pd.merge(all_providers, all_providers_geocodes, how='right', on=['address'])

# result.tail(50)

In [51]:
# # fix column names
# new_names = ['address', 'address2', 'apc', 'apc_description', 'city_x', 'first_name',
#        'full_name', 'hcpcs_code', 'hcpcs_description', 'last_name',
#        'provider_type', 'state_x', 'zip_x', 'city', 'state', 'zip',
#        'longitude', 'latitude']


# result.columns = new_names

# result.columns

In [52]:
# # create all_providers_geocode_addresses
# all_providers_geocoded_addresses = result[['full_name', 'first_name', 'last_name', 'address', 'address2',
#                                           'city', 'state', 'zip', 'longitude', 'latitude', 'apc', 'apc_description',
#                                           'hcpcs_code', 'hcpcs_description', 'provider_type']]

# all_providers_geocoded_addresses.tail(50)

In [53]:
# # save new dataframes
# all_providers.to_csv('../data/clean/all_providers.csv')
# all_providers_geocoded_addresses.to_csv('../data/clean/all_providers_geocoded_addresses.csv')