In [1]:
#import libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
# Setup filename variables
cities_csv = '../data/location/500cities_clean.csv'

# import files to dataframes
cities = pd.read_csv(cities_csv) 

cities

,Unnamed: 0,year,state_abbr,state_desc,city_name,geographic_level,data_source,category,uid,measure,...,data_value_footnote,population_count,geolocation,category_id,measure_id,city_fips,tract_fips,short_question_text,latitude,longitude
0,0,2017,TN,Tennessee,Memphis,Census Tract,BRFSS,Health Outcomes,4748000-47157007300,Chronic kidney disease among adults aged >=18 ...,...,NaN,"4,127","(35.1209840406, -89.9363799177)",HLTHOUT,KIDNEY,4748000,4.715701e+10,Chronic Kidney Disease,35.120984,-89.936380
1,1,2017,TN,Tennessee,Nashville,Census Tract,BRFSS,Health Outcomes,4752006-47037018700,Stroke among adults aged >=18 Years,...,NaN,565,"(36.0524304194, -86.8041894006)",HLTHOUT,STROKE,4752006,4.703702e+10,Stroke,36.052430,-86.804189
2,2,2017,TN,Tennessee,Memphis,Census Tract,BRFSS,Unhealthy Behaviors,4748000-47157001900,Current smoking among adults aged >=18 Years,...,NaN,"1,601","(35.1633019396, -90.0233116647)",UNHBEH,CSMOKING,4748000,4.715700e+10,Current Smoking,35.163302,-90.023312
3,3,2016,TN,Tennessee,Memphis,Census Tract,BRFSS,Prevention,4748000-47157001500,Papanicolaou smear use among adult women aged ...,...,NaN,"1,745","(35.1529878945, -89.9740999194)",PREVENT,PAPTEST,4748000,4.715700e+10,Pap Smear Test,35.152988,-89.974100
4,4,2017,TN,Tennessee,Nashville,Census Tract,BRFSS,Unhealthy Behaviors,4752006-47037018102,Binge drinking among adults aged >=18 Years,...,NaN,"3,529","(36.1276431581, -86.8678623837)",UNHBEH,BINGE,4752006,4.703702e+10,Binge Drinking,36.127643,-86.867862
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15294,15294,2017,TN,Tennessee,Memphis,Census Tract,BRFSS,Health Outcomes,4748000-47157009901,High blood pressure among adults aged >=18 Years,...,NaN,"3,297","(35.2161816308, -90.0391139667)",HLTHOUT,BPHIGH,4748000,4.715701e+10,High Blood Pressure,35.216182,-90.039114
15295,15295,2017,TN,Tennessee,Nashville,Census Tract,BRFSS,Prevention,4752006-47037011400,Visits to doctor for routine checkup within th...,...,NaN,"4,461","(36.1985224304, -86.7337794886)",PREVENT,CHECKUP,4752006,4.703701e+10,Annual Checkup,36.198522,-86.733779
15296,15296,2017,TN,Tennessee,Nashville,Census Tract,BRFSS,Health Outcomes,4752006-47037017500,Coronary heart disease among adults aged >=18 ...,...,NaN,"2,951","(36.1012139547, -86.7435789922)",HLTHOUT,CHD,4752006,4.703702e+10,Coronary Heart Disease,36.101214,-86.743579
15297,15297,2016,TN,Tennessee,Memphis,Census Tract,BRFSS,Prevention,4748000-47157007100,Older adult women aged >=65 Years who are up t...,...,NaN,"2,549","(35.1242946184, -89.9655983986)",PREVENT,COREW,4748000,4.715701e+10,Core preventive services for older women,35.124295,-89.965598
15298,15298,2017,TN,Tennessee,Murfreesboro,Census Tract,BRFSS,Unhealthy Behaviors,4751560-47149040302,Obesity among adults aged >=18 Years,...,NaN,148,"(35.9040426065, -86.4789099983)",UNHBEH,OBESITY,4751560,4.714904e+10,Obesity,35.904043,-86.478910

In [3]:
# what is describe() telling me?
cities.describe()

,Unnamed: 0,year,data_value,low_confidence_limit,high_confidence_limit,city_fips,tract_fips,latitude,longitude
count,15299.000000,15299.000000,14632.000000,14632.000000,14632.000000,1.529900e+04,1.496300e+04,15299.000000,15299.000000
mean,7649.000000,2016.717629,33.143863,31.194464,35.119949,4.742279e+06,4.710015e+10,35.672013,-87.259632
std,4416.585219,0.450168,26.083269,25.683424,26.458683,1.336201e+04,5.050264e+07,0.526676,2.148877
min,0.000000,2016.000000,0.500000,0.400000,0.500000,4.714000e+06,4.703701e+10,34.994265,-90.132036
25%,3824.500000,2016.000000,11.300000,10.100000,12.700000,4.740000e+06,4.703702e+10,35.118094,-89.885402
50%,7649.000000,2017.000000,26.000000,23.050000,28.800000,4.748000e+06,4.709301e+10,35.900360,-86.789913
75%,11473.500000,2017.000000,47.500000,45.300000,50.200000,4.752006e+06,4.715701e+10,36.112520,-85.322195
max,15298.000000,2017.000000,95.700000,94.600000,96.500000,4.752006e+06,4.715798e+10,36.635949,-83.725217