# Import Data and Create Dataframes

- set up the dataframes
- clean up as needed
- join as needed
- save cleaned and joined dataframes

## DEBUGDEBUG
- population_projections has float columns that should be int
- agi_by_state_2017 and agi_by_zip dataframes are displaying weird when I do .info. Take a closer look

# Import Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# Import and Setup Dataframes

In [2]:
# Setup filename variables
outpatient_csv = '../data/tennessee_outpatient_clean.csv'
cbsa2name_csv = '../data/core-based-statistical-areas-cbsas-and-combined-statistical-areas-csas.csv'
agi_by_state_2017_csv = '../data/Adjusted Gross Income Percentiles by State Tax Year 2017.csv'
agi_by_zip_2017_csv = '../data/income by zip 2017.csv'
population_projections_csv = '../data/State Population Projections 2004-2030.csv'

# import files to dataframes
cbsa_to_name = pd.read_csv(cbsa2name_csv, engine='python')
outpatient = pd.read_csv(outpatient_csv, low_memory=False,
                         dtype={"provider_name": object, "provider_street_address": object, "provider_city": object})
agi_by_state_2017 = pd.read_csv(agi_by_state_2017_csv)
agi_by_zip_2017 = pd.read_csv(agi_by_zip_2017_csv)
population_projections = pd.read_csv(population_projections_csv, sep='\t')

In [3]:
# confirm imports
print('This is: cbsa_to_name')
print(cbsa_to_name.info())

print('\n\nThis is: outpatient')
print(outpatient.info())

print('\n\nThis is: agi_by_state_2017')
print(agi_by_state_2017.info())

print('\n\nThis is: agi_by_zip_2017')
print(agi_by_zip_2017.info())

print('\n\nThis is: population_projections')
print(population_projections.info())

This is: cbsa_to_name
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1918 entries, 0 to 1917
Data columns (total 15 columns):
CBSA Code                                     1918 non-null object
Metropolitan Division Code                    111 non-null object
CSA Code                                      1256 non-null object
CBSA Title                                    1916 non-null object
Metropolitan/Micropolitan Statistical Area    1915 non-null object
Metropolitan Division Title                   1915 non-null object
CSA Title                                     110 non-null object
County/County Equivalent                      1255 non-null object
State Name                                    1915 non-null object
FIPS State Code                               1915 non-null object
FIPS County Code                              1915 non-null object
Central/Outlying County                       1915 non-null object
columnm                                       1915 non-null object
columnn                                       1255 non-null object
columno                                       110 non-null object
dtypes: object(15)
memory usage: 224.9+ KB
None


This is: outpatient
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47417 entries, 0 to 47416
Data columns (total 23 columns):
Unnamed: 0                                   47417 non-null int64
provider_id                                  79 non-null float64
provider_name                                79 non-null object
provider_street_address                      79 non-null object
provider_city                                79 non-null object
provider_state                               79 non-null object
provider_zip_code                            79 non-null float64
provider_hospital_referral_region_(hrr)      79 non-null object
apc                                          79 non-null float64
apc_description                              79 non-null object
beneficiaries                                77 non-null float64
comprehensive_apc_services                   79 non-null float64
average_estimated_total_submitted_charges    79 non-null float64
average_medicare_allowed_amount              79 non-null float64
average_medicare_payment_amount              79 non-null float64
outlier_comprehensive_apc_services           73 non-null float64
average_medicare_outlier_amount              73 non-null float64
zip                                          47417 non-null int64
cbsa                                         47417 non-null int64
res_ratio                                    47417 non-null float64
bus_ratio                                    47417 non-null float64
oth_ratio                                    47417 non-null float64
tot_ratio                                    47417 non-null float64
dtypes: float64(14), int64(3), object(6)
memory usage: 8.3+ MB
None


This is: agi_by_state_2017
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Columns: 142 entries, statefips to sum_tax_75
dtypes: float64(59), int64(81), object(2)
memory usage: 58.9+ KB
None


This is: agi_by_zip_2017
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166537 entries, 0 to 166536
Columns: 153 entries, STATEFIPS to A12000
dtypes: int64(152), object(1)
memory usage: 194.4+ MB
None


This is: population_projections
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 6 columns):
Notes                    23 non-null object
Year                     38 non-null float64
Year Code                38 non-null float64
Age Group                36 non-null object
Age Group Code           36 non-null object
Projected Populations    39 non-null float64
dtypes: float64(3), object(3)
memory usage: 2.9+ KB
None

# Clean Up Column Names and Dtypes

In [4]:
# convert spaces to underscores and make lowercase
# NOTE: Make this a function and add to my library
cbsa_to_name.columns = cbsa_to_name.columns.str.replace(' ', '_').str.lower()
agi_by_state_2017.columns = agi_by_state_2017.columns.str.replace(' ', '_').str.lower()
agi_by_zip_2017.columns = agi_by_zip_2017.columns.str.replace(' ', '_').str.lower()
population_projections.columns = population_projections.columns.str.replace(' ', '_').str.lower()

In [5]:
# confirm conversion
print('This is: cbsa_to_name')
print(cbsa_to_name.info())

print('\n\nThis is: agi_by_state_2017')
print(agi_by_state_2017.info())

print('\n\nThis is: agi_by_zip_2017')
print(agi_by_zip_2017.info())

print('\n\nThis is: population_projections')
print(population_projections.info())

This is: cbsa_to_name
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1918 entries, 0 to 1917
Data columns (total 15 columns):
cbsa_code                                     1918 non-null object
metropolitan_division_code                    111 non-null object
csa_code                                      1256 non-null object
cbsa_title                                    1916 non-null object
metropolitan/micropolitan_statistical_area    1915 non-null object
metropolitan_division_title                   1915 non-null object
csa_title                                     110 non-null object
county/county_equivalent                      1255 non-null object
state_name                                    1915 non-null object
fips_state_code                               1915 non-null object
fips_county_code                              1915 non-null object
central/outlying_county                       1915 non-null object
columnm                                       1915 non-null object
columnn                                       1255 non-null object
columno                                       110 non-null object
dtypes: object(15)
memory usage: 224.9+ KB
None


This is: agi_by_state_2017
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Columns: 142 entries, statefips to sum_tax_75
dtypes: float64(59), int64(81), object(2)
memory usage: 58.9+ KB
None


This is: agi_by_zip_2017
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166537 entries, 0 to 166536
Columns: 153 entries, statefips to a12000
dtypes: int64(152), object(1)
memory usage: 194.4+ MB
None


This is: population_projections
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 6 columns):
notes                    23 non-null object
year                     38 non-null float64
year_code                38 non-null float64
age_group                36 non-null object
age_group_code           36 non-null object
projected_populations    39 non-null float64
dtypes: float64(3), object(3)
memory usage: 2.9+ KB
None

In [6]:
# Cast CBSA code to numeric
cbsa_to_name['cbsa_code'] = pd.to_numeric(cbsa_to_name['cbsa_code'], errors='coerce')
print(cbsa_to_name.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1918 entries, 0 to 1917
Data columns (total 15 columns):
cbsa_code                                     1915 non-null float64
metropolitan_division_code                    111 non-null object
csa_code                                      1256 non-null object
cbsa_title                                    1916 non-null object
metropolitan/micropolitan_statistical_area    1915 non-null object
metropolitan_division_title                   1915 non-null object
csa_title                                     110 non-null object
county/county_equivalent                      1255 non-null object
state_name                                    1915 non-null object
fips_state_code                               1915 non-null object
fips_county_code                              1915 non-null object
central/outlying_county                       1915 non-null object
columnm                                       1915 non-null object
columnn                                       1255 non-null object
columno                                       110 non-null object
dtypes: float64(1), object(14)
memory usage: 224.9+ KB
None

In [7]:
###################################################
# drop the rows where 'notes'=='Total', they have NaN in 'age_group' column
# this leaves us with only year and population info

# df = df[df['EPS'].notna()]
population_projections=population_projections[population_projections['age_group'].notna()]

# Convert Year and Population columns to int.
# >>> df[list("ABCD")] = df[list("ABCD")].astype(int)
population_projections[['year','year_code','projected_populations']] = population_projections[['year','year_code','projected_populations']].astype(int)

population_projections

   notes  year  year_code     age_group age_group_code  projected_populations
0    NaN  2025       2025     0-4 years            0-4                 481714
1    NaN  2025       2025     5-9 years            5-9                 466987
2    NaN  2025       2025   10-14 years          10-14                 462242
3    NaN  2025       2025   15-19 years          15-19                 464989
4    NaN  2025       2025   20-24 years          20-24                 466395
5    NaN  2025       2025   25-29 years          25-29                 442275
6    NaN  2025       2025   30-34 years          30-34                 445935
7    NaN  2025       2025   35-39 years          35-39                 436057
8    NaN  2025       2025   40-44 years          40-44                 427959
9    NaN  2025       2025   45-49 years          45-49                 419593
10   NaN  2025       2025   50-54 years          50-54                 422462
11   NaN  2025       2025   55-59 years          55-59                 422412
12   NaN  2025       2025  60-64 years           60-64                 434124
13   NaN  2025       2025   65-69 years          65-69                 396661
14   NaN  2025       2025   70-74 years          70-74                 327393
15   NaN  2025       2025   75-79 years          75-79                 252957
16   NaN  2025       2025   80-84 years          80-84                 153645
17   NaN  2025       2025     85+ years            85+                 149325
19   NaN  2030       2030     0-4 years            0-4                 515032
20   NaN  2030       2030     5-9 years            5-9                 498596
21   NaN  2030       2030   10-14 years          10-14                 486349
22   NaN  2030       2030   15-19 years          15-19                 486191
23   NaN  2030       2030   20-24 years          20-24                 479830
24   NaN  2030       2030   25-29 years          25-29                 472833
25   NaN  2030       2030   30-34 years          30-34                 450614
26   NaN  2030       2030   35-39 years          35-39                 455540
27   NaN  2030       2030   40-44 years          40-44                 443427
28   NaN  2030       2030   45-49 years          45-49                 429675
29   NaN  2030       2030   50-54 years          50-54                 417914
30   NaN  2030       2030   55-59 years          55-59                 418466
31   NaN  2030       2030  60-64 years           60-64                 408459
32   NaN  2030       2030   65-69 years          65-69                 404412
33   NaN  2030       2030   70-74 years          70-74                 356420
34   NaN  2030       2030   75-79 years          75-79                 278858
35   NaN  2030       2030   80-84 years          80-84                 197826
36   NaN  2030       2030     85+ years            85+                 180192

In [8]:
# these look wrong, take a closer look
print('\n\nThis is: agi_by_state_2017')
print(agi_by_state_2017.head())

print('\n\nThis is: agi_by_zip_2017')
print(agi_by_zip_2017.head())

This is: agi_by_state_2017
   statefips state     state_name      total   top_01   top_05    top_10  \
0          0    US  United States  140871623  1408716  7043581  14087162
1          1    AL        Alabama    1912769    19128    95638    191277
2          2    AK         Alaska     317892     3179    15895     31789
3          4    AZ        Arizona    2837210    28372   141861    283721
4          5    AR       Arkansas    1147443    11474    57372    114744

     top_25    top_50     top_75  ...  sum_scorp_50  num_scorp_75  \
0  35217906  70435812  105653717  ...  7.268620e+11       7962545
1    478192    956385    1434577  ...  7.302828e+09         85913
2     79473    158946     238419  ...  1.315947e+09         17060
3    709303   1418605    2127908  ...  1.118380e+10        148837
4    286861    573722     860582  ...  3.876006e+09         60420

   sum_scorp_75     total_tax    sum_tax_01    sum_tax_05    sum_tax_10  \
0  7.318500e+11  1.602690e+12  6.144710e+11  9.442590e+11  1.119600e+12
1  7.330675e+09  1.442731e+10  4.866651e+09  7.830064e+09  9.608232e+09
2  1.325595e+09  3.284380e+09  8.092438e+08  1.451506e+09  1.878432e+09
3  1.126702e+10  2.570747e+10  8.888730e+09  1.423860e+10  1.731848e+10
4  3.897756e+09  9.140164e+09  3.842035e+09  5.532970e+09  6.503461e+09

     sum_tax_25    sum_tax_50    sum_tax_75
0  1.375300e+12  1.550400e+12  1.598350e+12
1  1.226745e+10  1.399573e+10  1.439507e+10
2  2.577750e+09  3.099170e+09  3.263449e+09
3  2.183370e+10  2.481450e+10  2.562265e+10
4  7.944939e+09  8.882332e+09  9.119600e+09

[5 rows x 142 columns]


This is: agi_by_zip_2017
   statefips state  zipcode  agi_stub      n1   mars1   mars2   mars4     elf  \
0          1    AL        0         1  802640  474470   99850  216600  717050
1          1    AL        0         2  499070  218590  137460  129760  448190
2          1    AL        0         3  268590   89780  134440   38280  241060
3          1    AL        0         4  170880   32180  124070   11660  154120
4          1    AL        0         5  229870   22810  196990    5540  208380

   cprep  ...  n85300  a85300  n11901  a11901  n11900   a11900  n11902  \
0  44090  ...       0       0   64680   53602  700940  1803125  698100
1  26230  ...       0       0   77660  118725  419640  1175607  416180
2  14160  ...       0       0   67820  156752  201030   560461  197060
3   7980  ...       0       0   48440  141721  121930   396526  118460
4  11120  ...      50      19   91100  465160  138250   588068  130970

    a11902  n12000  a12000
0  1796343    2860    4917
1  1165352    4250    8894
2   547812    5440   13482
3   383588    3160   12369
4   529001    8430   55564

[5 rows x 153 columns]

# Join Files? 
- not sure if I should do this yet as file are still having issues. Commented out for now.

In [9]:
outpatient = pd.merge(left=outpatient, right=cbsa_to_name, 
                                      left_on='cbsa', right_on='cbsa_code', how='inner')

print(outpatient.info())
outpatient.head(30)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 191227 entries, 0 to 191226
Data columns (total 38 columns):
Unnamed: 0                                    191227 non-null int64
provider_id                                   417 non-null float64
provider_name                                 417 non-null object
provider_street_address                       417 non-null object
provider_city                                 417 non-null object
provider_state                                417 non-null object
provider_zip_code                             417 non-null float64
provider_hospital_referral_region_(hrr)       417 non-null object
apc                                           417 non-null float64
apc_description                               417 non-null object
beneficiaries                                 415 non-null float64
comprehensive_apc_services                    417 non-null float64
average_estimated_total_submitted_charges     417 non-null float64
average_medicare_allowed_amount               417 non-null float64
average_medicare_payment_amount               417 non-null float64
outlier_comprehensive_apc_services            368 non-null float64
average_medicare_outlier_amount               368 non-null float64
zip                                           191227 non-null int64
cbsa                                          191227 non-null int64
res_ratio                                     191227 non-null float64
bus_ratio                                     191227 non-null float64
oth_ratio                                     191227 non-null float64
tot_ratio                                     191227 non-null float64
cbsa_code                                     191227 non-null float64
metropolitan_division_code                    68060 non-null object
csa_code                                      166470 non-null object
cbsa_title                                    191227 non-null object
metropolitan/micropolitan_statistical_area    191227 non-null object
metropolitan_division_title                   191227 non-null object
csa_title                                     68060 non-null object
county/county_equivalent                      166470 non-null object
state_name                                    191227 non-null object
fips_state_code                               191227 non-null object
fips_county_code                              191227 non-null object
central/outlying_county                       191227 non-null object
columnm                                       191227 non-null object
columnn                                       166470 non-null object
columno                                       68060 non-null object
dtypes: float64(15), int64(3), object(20)
memory usage: 56.9+ MB
None

,Unnamed: 0,provider_id,provider_name,provider_street_address,provider_city,provider_state,provider_zip_code,provider_hospital_referral_region_(hrr),apc,apc_description,...,metropolitan_division_title,csa_title,county/county_equivalent,state_name,fips_state_code,fips_county_code,central/outlying_county,columnm,columnn,columno
0,0,440002.0,Jackson-Madison County General Hospital,620 Skyline Drive,Jackson,TN,38301.0,TN - Jackson,5302.0,Level 2 Upper GI Procedures,...,Micropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Haywood County,Tennessee,47,75,Central,NaN
1,17633,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Micropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Haywood County,Tennessee,47,75,Central,NaN
2,17637,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Micropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Haywood County,Tennessee,47,75,Central,NaN
3,17655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Micropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Haywood County,Tennessee,47,75,Central,NaN
4,17670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Micropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Haywood County,Tennessee,47,75,Central,NaN
5,17684,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Micropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Haywood County,Tennessee,47,75,Central,NaN
6,17687,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Micropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Haywood County,Tennessee,47,75,Central,NaN
7,17689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Micropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Haywood County,Tennessee,47,75,Central,NaN
8,17693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Micropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Haywood County,Tennessee,47,75,Central,NaN
9,17878,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Micropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Haywood County,Tennessee,47,75,Central,NaN
10,1,440002.0,Jackson-Madison County General Hospital,620 Skyline Drive,Jackson,TN,38301.0,TN - Jackson,5302.0,Level 2 Upper GI Procedures,...,Metropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Madison County,Tennessee,47,113,Central,NaN
11,1,440002.0,Jackson-Madison County General Hospital,620 Skyline Drive,Jackson,TN,38301.0,TN - Jackson,5302.0,Level 2 Upper GI Procedures,...,Metropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Chester County,Tennessee,47,23,Outlying,NaN
12,1,440002.0,Jackson-Madison County General Hospital,620 Skyline Drive,Jackson,TN,38301.0,TN - Jackson,5302.0,Level 2 Upper GI Procedures,...,Metropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Crockett County,Tennessee,47,33,Outlying,NaN
13,1,440002.0,Jackson-Madison County General Hospital,620 Skyline Drive,Jackson,TN,38301.0,TN - Jackson,5302.0,Level 2 Upper GI Procedures,...,Metropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Gibson County,Tennessee,47,53,Outlying,NaN
14,32,440060.0,Milan General Hospital,4039 Highland St,Milan,TN,38358.0,TN - Jackson,5302.0,Level 2 Upper GI Procedures,...,Metropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Madison County,Tennessee,47,113,Central,NaN
15,32,440060.0,Milan General Hospital,4039 Highland St,Milan,TN,38358.0,TN - Jackson,5302.0,Level 2 Upper GI Procedures,...,Metropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Chester County,Tennessee,47,23,Outlying,NaN
16,32,440060.0,Milan General Hospital,4039 Highland St,Milan,TN,38358.0,TN - Jackson,5302.0,Level 2 Upper GI Procedures,...,Metropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Crockett County,Tennessee,47,33,Outlying,NaN
17,32,440060.0,Milan General Hospital,4039 Highland St,Milan,TN,38358.0,TN - Jackson,5302.0,Level 2 Upper GI Procedures,...,Metropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Gibson County,Tennessee,47,53,Outlying,NaN
18,17629,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Metropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Madison County,Tennessee,47,113,Central,NaN
19,17629,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Metropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Chester County,Tennessee,47,23,Outlying,NaN
20,17629,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Metropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Crockett County,Tennessee,47,33,Outlying,NaN
21,17629,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Metropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Gibson County,Tennessee,47,53,Outlying,NaN
22,17632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Metropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Madison County,Tennessee,47,113,Central,NaN
23,17632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Metropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Chester County,Tennessee,47,23,Outlying,NaN
24,17632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Metropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Crockett County,Tennessee,47,33,Outlying,NaN
25,17632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Metropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Gibson County,Tennessee,47,53,Outlying,NaN
26,17644,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Metropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Madison County,Tennessee,47,113,Central,NaN
27,17644,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Metropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Chester County,Tennessee,47,23,Outlying,NaN
28,17644,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Metropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Crockett County,Tennessee,47,33,Outlying,NaN
29,17644,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Metropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Gibson County,Tennessee,47,53,Outlying,NaN

# Look at data
- .info()
- .head()
- .tail()
- .shape

# Export clean files

In [12]:
outpatient.to_csv('../data/outpatient_cbsa_clean.csv')
# cbsa_to_name.to_csv('../data/cbsa2name_clean.csv')
agi_by_state_2017.to_csv('../data/agi_by_state_2017_clean.csv')
agi_by_zip_2017.to_csv('../data/agi_by_zip_2017_clean.csv')
population_projections.to_csv('../data/population_projections_clean.csv')