In [1]:
# import libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [20]:
# import and set up dataframes

# tennessee_outpatient.to_csv('../data/tennessee_outpatient_clean.csv')
# nashville_outpatient.to_csv('../data/nashville_outpatient_clean.csv')
# tennessee_providers.to_csv('../data/tennessee_providers_clean.csv')
# nashville_providers.to_csv('../data/nashville_providers_clean.csv')

cbsa = pd.read_excel('../data/ZIP_CBSA_032020.xlsx') 

#   Outpatients
tennessee_outpatient_clean = pd.read_csv('../data/tennessee_outpatient_clean.csv', low_memory=False)
# nashville_outpatient_clean = pd.read_csv('../data/nashville_outpatient_clean.csv')
# nyc_outpatient_clean = pd.read_csv('../data/nyc_outpatient_clean.csv')
# la_outpatient_clean = pd.read_csv('../data/la_outpatient_clean.csv')

#   Providers
tennessee_providers_clean = pd.read_csv('../data/tennessee_providers_clean.csv', )
# nashville_providers_clean = pd.read_csv('../data/nashville_providers_clean.csv')
# nyc_providers_clean = pd.read_csv('../data/nyc_providers_clean.csv')
# la_providers_clean = pd.read_csv('../data/la_providers_clean.csv')

In [21]:
tennessee_outpatient_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47417 entries, 0 to 47416
Data columns (total 23 columns):
Unnamed: 0                                   47417 non-null int64
provider_id                                  79 non-null float64
provider_name                                79 non-null object
provider_street_address                      79 non-null object
provider_city                                79 non-null object
provider_state                               79 non-null object
provider_zip_code                            79 non-null float64
provider_hospital_referral_region_(hrr)      79 non-null object
apc                                          79 non-null float64
apc_description                              79 non-null object
beneficiaries                                77 non-null float64
comprehensive_apc_services                   79 non-null float64
average_estimated_total_submitted_charges    79 non-null float64
average_medicare_allowed_amount              79 non-null float64
average_medicare_payment_amount              79 non-null float64
outlier_comprehensive_apc_services           73 non-null float64
average_medicare_outlier_amount              73 non-null float64
zip                                          47417 non-null int64
cbsa                                         47417 non-null int64
res_ratio                                    47417 non-null float64
bus_ratio                                    47417 non-null float64
oth_ratio                                    47417 non-null float64
tot_ratio                                    47417 non-null float64
dtypes: float64(14), int64(3), object(6)
memory usage: 8.3+ MB

In [22]:
tennessee_providers_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47425 entries, 0 to 47424
Data columns (total 33 columns):
Unnamed: 0                          47425 non-null int64
npi                                 10 non-null float64
nppes_provider_last_org_name        10 non-null object
nppes_provider_first_name           0 non-null float64
nppes_provider_mi                   0 non-null float64
nppes_credentials                   0 non-null float64
nppes_provider_gender               0 non-null float64
nppes_entity_code                   10 non-null object
nppes_provider_street1              10 non-null object
nppes_provider_street2              2 non-null object
nppes_provider_city                 10 non-null object
nppes_provider_zip                  10 non-null float64
nppes_provider_state                10 non-null object
nppes_provider_country              10 non-null object
provider_type                       10 non-null object
medicare_participation_indicator    10 non-null object
place_of_service                    10 non-null object
hcpcs_code                          10 non-null float64
hcpcs_description                   10 non-null object
hcpcs_drug_indicator                10 non-null object
line_srvc_cnt                       10 non-null float64
bene_unique_cnt                     10 non-null float64
bene_day_srvc_cnt                   10 non-null float64
average_medicare_allowed_amt        10 non-null float64
average_submitted_chrg_amt          10 non-null float64
average_medicare_payment_amt        10 non-null float64
average_medicare_standard_amt       10 non-null float64
zip                                 47415 non-null float64
cbsa                                47415 non-null float64
res_ratio                           47415 non-null float64
bus_ratio                           47415 non-null float64
oth_ratio                           47415 non-null float64
tot_ratio                           47415 non-null float64
dtypes: float64(20), int64(1), object(12)
memory usage: 11.9+ MB

# Note
This looks like a small data set for Nashville. Concerned that it was too small, I went back to 02-goal_option_1 and confirmed that this small set is correct. It is the set of outpatients filtered by APC = 5302.

In [23]:
# nashville_outpatient_clean

# Convert zipcodes from float to int

In [24]:
# drop NaN
tennessee_providers_clean['nppes_provider_zip']

tennessee_providers_clean = tennessee_providers_clean.dropna()


# # tennessee_providers_clean['nppes_provider_zip'] = tennessee_providers_clean['nppes_provider_zip'].dropna()
# # tennessee_outpatient_clean['provider_zip_code'] = tennessee_outpatient_clean['provider_zip_code'].dropna()

# tennessee_providers_clean = pd.merge(left=tennessee_providers_clean, right=cbsa, left_on='nppes_provider_zip', right_on='ZIP', how='outer')
# tennessee_outpatient_clean = pd.merge(left=tennessee_outpatient_clean, right=cbsa, left_on='provider_zip_code', right_on='ZIP', how='outer')

# tennessee_outpatient_clean.info()

In [19]:
# convert zipcodes from float to int
# .astype(int)
# tennessee_providers_clean['nppes_provider_zip'] = tennessee_providers_clean['nppes_provider_zip'].astype(int)
# tennessee_outpatient_clean['provider_zip_code'] = tennessee_outpatient_clean['provider_zip_code'].astype(int)

tennessee_providers_clean['nppes_provider_zip']
# tennessee_outpatient_clean['provider_zip_code']

# tennessee_outpatient_clean.info()

Series([], Name: nppes_provider_zip, dtype: float64)

# Get average_medicare_allowed_amount

## NOTE: the Nashville dataframes are redundant as we're looking at Tenn by CBSA. They're included below, but we'll only use the Tennessee dataframes as Nashville is included

In [8]:
# outpatient: average_medicare_allowed_amount
# nashville_outpatient_amaa = nashville_outpatient_clean[['provider_zip_code', 'provider_name', 'average_medicare_allowed_amount']].sort_values('average_medicare_allowed_amount')
# nashville_outpatient_amaa

In [9]:
# provider: average_medicare_allowed_amount
# nashville_providers_amaa = nashville_providers_clean[['cbsa', 'nppes_provider_zip', 'nppes_provider_last_org_name', 'average_medicare_allowed_amt']].sort_values('average_medicare_allowed_amt')
# nashville_providers_amaa

In [10]:
# outpatient: average_medicare_allowed_amount
tennessee_outpatient_amaa = tennessee_outpatient_clean[['cbsa', 'provider_zip_code', 'provider_name', 'average_medicare_allowed_amount']].sort_values('average_medicare_allowed_amount')
tennessee_outpatient_amaa

,cbsa,provider_zip_code,provider_name,average_medicare_allowed_amount
16,34100,37814.0,Lakeway Regional Hospital,975.274615
50,46100,37334.0,Lincoln Medical Center,1031.270909
49,99999,37334.0,Lincoln Medical Center,1031.270909
51,43180,37334.0,Lincoln Medical Center,1031.270909
54,28940,37772.0,Fort Loudon Medical Center,1044.290000
...,...,...,...,...
47412,99999,NaN,NaN,NaN
47413,99999,NaN,NaN,NaN
47414,99999,NaN,NaN,NaN
47415,28540,NaN,NaN,NaN
47416,99999,NaN,NaN,NaN

In [11]:
tennessee_providers_amaa = tennessee_providers_clean[['cbsa','nppes_provider_zip', 'nppes_provider_last_org_name', 'average_medicare_allowed_amt']].sort_values('average_medicare_allowed_amt')
tennessee_providers_amaa

,cbsa,nppes_provider_zip,nppes_provider_last_org_name,average_medicare_allowed_amt
7,NaN,385012454.0,Upper cumberland physicians surgery center llc,500.692923
0,NaN,378874200.0,Wartburg surgery center llc,512.000000
5,NaN,376603220.0,"Holston valley ambulatory surgery center, llc",516.890000
4,NaN,379223355.0,Fort sanders west op surgery center,524.800000
2,NaN,372052013.0,Endoscopy center of st thomas lp,565.636471
...,...,...,...,...
47420,99999.0,NaN,NaN,NaN
47421,99999.0,NaN,NaN,NaN
47422,99999.0,NaN,NaN,NaN
47423,28540.0,NaN,NaN,NaN
47424,99999.0,NaN,NaN,NaN

# Save Dataframe

s for further analysis

In [ ]:
# # save clean dataframes
tennessee_outpatient_amaa.to_csv('../data/tennessee_outpatient_amaa.csv')
tennessee_providers_amaa.to_csv('../data/tennessee_providers_amaa.csv')
# nashville_outpatient_amaa.to_csv('../data/nashville_outpatient_amaa.csv')
# nashville_providers_amaa.to_csv('../data/nashville_providers_amaa.csv')

In [ ]:
tennessee_outpatient_clean.to_csv('../data/tennessee_outpatient_filtered.csv')
tennessee_providers_clean.to_csv('../data/tennessee_providers_filtered.csv')