# Landry BlueBook
This is the notebook for my Project BlueBook code

# What's working?

- imported libraries<br>
- imported all .csv files, even the one that was really a .tsv<br>
- combined classification files into one dataframe<br>
- removed trailing spaces from classification dataframe keys
- lowercased ,removed spaces and \n from column titles

# What's not working?

-

In [1]:
# import libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [16]:
# set up dataframes
#   absolute path: /Users/landrybutler/github/healthcare-bluebook-project-bluebook/data/my_file.csv
#   relative path: ../data/my_file.csv

# paths to files
#     NOTE: providers_csv is too large to store in git. It's kept outside this project folder in 'oversized_files'
providers_tsv = '/Users/landrybutler/github/oversized_files/Medicare_Provider_Util_Payment_PUF_CY2017.tsv'
outpatient_csv = '../data/MUP_OHP_R19_P04_V10_D17_APC_Provider.csv'
classification1_csv = '../data/508-Compliant-Version-of-2020_january_web_addendum_b.12312019.csv'
classification2_csv = '../data/2020_january_web_addendum_b.12312019.csv'
cbsa_csv = '../data/ZIP_CBSA_032020.csv'

# NOTE: providers_csv is a TAB-DELIMITED file, Use sep='\t'
providers = pd.read_csv(providers_tsv, sep='\t', low_memory=False) 
outpatient = pd.read_csv(outpatient_csv, low_memory=False) 
classification1 = pd.read_csv(classification1_csv) 
classification2 = pd.read_csv(classification2_csv) 
cbsa = pd.read_csv(cbsa_csv) 

# NOTE: the first line in providers_tsv is copyright info
providers.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,hcpcs_code,hcpcs_description,hcpcs_drug_indicator,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt,average_submitted_chrg_amt,average_Medicare_payment_amt,average_Medicare_standard_amt
0,1,CPT copyright 2016 American Medical Associatio...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99217,Hospital observation care discharge,N,100.0,96.0,100.0,73.398800,325.780000,56.827200,57.492400
2,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99218,Hospital observation care typically 30 minutes,N,26.0,25.0,26.0,100.080000,449.000000,78.460000,79.306154
3,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99219,Hospital observation care typically 50 minutes,N,52.0,51.0,52.0,136.380000,614.000000,102.807692,103.895385
4,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99220,Hospital observation care typically 70 minutes...,N,59.0,59.0,59.0,190.363729,755.932203,141.293559,142.865763

In [22]:
providers.info()
# providers[['provider_type']]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9847444 entries, 0 to 9847443
Data columns (total 26 columns):
npi                                 int64
nppes_provider_last_org_name        object
nppes_provider_first_name           object
nppes_provider_mi                   object
nppes_credentials                   object
nppes_provider_gender               object
nppes_entity_code                   object
nppes_provider_street1              object
nppes_provider_street2              object
nppes_provider_city                 object
nppes_provider_zip                  object
nppes_provider_state                object
nppes_provider_country              object
provider_type                       object
medicare_participation_indicator    object
place_of_service                    object
hcpcs_code                          object
hcpcs_description                   object
hcpcs_drug_indicator                object
line_srvc_cnt                       float64
bene_unique_cnt                     float64
bene_day_srvc_cnt                   float64
average_Medicare_allowed_amt        float64
average_submitted_chrg_amt          float64
average_Medicare_payment_amt        float64
average_Medicare_standard_amt       float64
dtypes: float64(7), int64(1), object(18)
memory usage: 1.9+ GB

In [3]:
# how can I join the classification files? 
# look at df.head()

classification1.head()

,HCPCS Code,Short Descriptor,SI,APC,Relative Weight,Payment Rate,National Unadjusted Copayment,Minimum Unadjusted Copayment,Column1,Column2,Column3
0,00100,Anesth salivary gland,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,00102,Anesth repair of cleft lip,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,00103,Anesth blepharoplasty,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,00104,Anesth electroshock,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,00120,Anesth ear surgery,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
classification2.head()

,HCPCS Code,Short Descriptor,SI,APC,Relative Weight,Payment Rate,National Unadjusted Copayment,Minimum Unadjusted Copayment,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,00100,Anesth salivary gland,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,00102,Anesth repair of cleft lip,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,00103,Anesth blepharoplasty,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,00104,Anesth electroshock,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,00120,Anesth ear surgery,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# look at df.info()

classification1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16628 entries, 0 to 16627
Data columns (total 11 columns):
HCPCS Code                        16628 non-null object
Short Descriptor                  16628 non-null object
SI                                16628 non-null object
APC                               5942 non-null float64
Relative Weight                   5516 non-null float64
Payment Rate                      5936 non-null object
National Unadjusted Copayment     5934 non-null object
Minimum Unadjusted Copayment      5936 non-null object
Column1                           279 non-null object
Column2                           408 non-null object
Column3                           0 non-null float64
dtypes: float64(3), object(8)
memory usage: 1.4+ MB

In [6]:
classification2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16628 entries, 0 to 16627
Data columns (total 11 columns):
HCPCS Code                        16628 non-null object
Short Descriptor                  16628 non-null object
SI                                16628 non-null object
APC                               5942 non-null float64
Relative Weight                   5516 non-null float64
Payment Rate                      5936 non-null object
National Unadjusted Copayment     5934 non-null object
Minimum Unadjusted Copayment      5936 non-null object
Unnamed: 8                        279 non-null object
Unnamed: 9                        408 non-null object
Unnamed: 10                       0 non-null float64
dtypes: float64(3), object(8)
memory usage: 1.4+ MB

NOTE: based on a quick examination of the head() and info(), it looks like these files are laid out in same manner:
        - HCPS Code
        - Short Descriptor
        - SI
        - APC
        - Relative Weight
        - Payment Rate
        - National Unadjusted Copayment
        - Minimum Unadjusted Copayment
        - Column1 or Unnamed: 8
        - Column2 or Unnamed: 9
        - Column3 or Unnamed: 10
            
The range index and memory usage are the same for both files. I wonder if they countain duplicate info?

In [7]:
# Inner join on HCPS code will eliminate any duplicates
# NOTE: Trailing spaces were found in column names, they're included below and will be removed later
# memory usage after join only increased by 0.5 MB

classifications = pd.merge(left=classification1, right=classification2, 
                           how='inner', 
                           on=['HCPCS Code','Short Descriptor','SI','APC ',
                               'Relative Weight','Payment Rate ','National Unadjusted Copayment ',
                              'Minimum Unadjusted Copayment '])
classifications.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16628 entries, 0 to 16627
Data columns (total 14 columns):
HCPCS Code                        16628 non-null object
Short Descriptor                  16628 non-null object
SI                                16628 non-null object
APC                               5942 non-null float64
Relative Weight                   5516 non-null float64
Payment Rate                      5936 non-null object
National Unadjusted Copayment     5934 non-null object
Minimum Unadjusted Copayment      5936 non-null object
Column1                           279 non-null object
Column2                           408 non-null object
Column3                           0 non-null float64
Unnamed: 8                        279 non-null object
Unnamed: 9                        408 non-null object
Unnamed: 10                       0 non-null float64
dtypes: float64(4), object(10)
memory usage: 1.9+ MB

In [8]:
# Rename columns to remove trailing spaces
# df.rename(columns=lambda x: x.strip())
classifications = classifications.rename(columns=lambda x: x.strip())

classifications.keys()

Index(['HCPCS Code', 'Short Descriptor', 'SI', 'APC', 'Relative Weight',
       'Payment Rate', 'National Unadjusted Copayment',
       'Minimum Unadjusted Copayment', 'Column1', 'Column2', 'Column3',
       'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10'],
      dtype='object')

In [9]:
# Look at outpatient dataframe
outpatient.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61779 entries, 0 to 61778
Data columns (total 16 columns):
Provider ID                                  61779 non-null int64
Provider Name                                61779 non-null object
Provider Street Address                      61779 non-null object
Provider City                                61779 non-null object
Provider
State                               61779 non-null object
Provider
Zip Code                            61779 non-null int64
Provider
Hospital Referral Region
(HRR)      61779 non-null object
APC                                          61779 non-null int64
APC
Description                              61779 non-null object
Beneficiaries                                60782 non-null object
Comprehensive APC
Services                   61779 non-null object
Average
Estimated
Total
Submitted
Charges    61779 non-null object
Average
Medicare
Allowed
Amount              61779 non-null object
Average
Medicare
Payment
Amount              61779 non-null object
Outlier
Comprehensive
APC
Services           39755 non-null object
Average
Medicare
Outlier
Amount              39755 non-null object
dtypes: int64(3), object(13)
memory usage: 7.5+ MB

In [10]:
outpatient.head()

,Provider ID,Provider Name,Provider Street Address,Provider City,Provider\nState,Provider\nZip Code,Provider\nHospital Referral Region\n(HRR),APC,APC\nDescription,Beneficiaries,Comprehensive APC\nServices,Average\nEstimated\nTotal\nSubmitted\nCharges,Average\nMedicare\nAllowed\nAmount,Average\nMedicare\nPayment\nAmount,Outlier\nComprehensive\nAPC\nServices,Average\nMedicare\nOutlier\nAmount
0,10001,Southeast Alabama Medical Center,1108 Ross Clark Circle,Dothan,AL,36301,AL - Dothan,5072,Level 2 Excision/ Biopsy/ Incision and Drainage,249,259,"$9,575","$1,038",$826,NaN,NaN
1,10001,Southeast Alabama Medical Center,1108 Ross Clark Circle,Dothan,AL,36301,AL - Dothan,5073,Level 3 Excision/ Biopsy/ Incision and Drainage,52,53,"$12,578","$1,793","$1,423",NaN,NaN
2,10001,Southeast Alabama Medical Center,1108 Ross Clark Circle,Dothan,AL,36301,AL - Dothan,5091,Level 1 Breast/Lymphatic Surgery and Related P...,26,27,"$11,338","$2,114","$1,684",0,$0
3,10001,Southeast Alabama Medical Center,1108 Ross Clark Circle,Dothan,AL,36301,AL - Dothan,5092,Level 2 Breast/Lymphatic Surgery and Related P...,23,23,"$17,116","$3,737","$2,978",0,$0
4,10001,Southeast Alabama Medical Center,1108 Ross Clark Circle,Dothan,AL,36301,AL - Dothan,5112,Level 2 Musculoskeletal Procedures,17,17,"$7,383","$1,029",$820,0,$0

In [38]:
# column names contain newline characters, remove them
# also convert spaces to underscores and make lowercase
outpatient.columns = outpatient.columns.str.replace('\n', '_').str.replace(' ', '_').str.lower()
providers.columns = providers.columns.str.replace(' ', '_').str.lower()
classifications.columns = classifications.columns.str.replace(' ', '_').str.lower()
cbsa.columns = cbsa.columns.str.replace(' ', '_').str.lower()

# providers.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,hcpcs_code,hcpcs_description,hcpcs_drug_indicator,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_medicare_allowed_amt,average_submitted_chrg_amt,average_medicare_payment_amt,average_medicare_standard_amt
0,1,CPT copyright 2016 American Medical Associatio...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99217,Hospital observation care discharge,N,100.0,96.0,100.0,73.398800,325.780000,56.827200,57.492400
2,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99218,Hospital observation care typically 30 minutes,N,26.0,25.0,26.0,100.080000,449.000000,78.460000,79.306154
3,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99219,Hospital observation care typically 50 minutes,N,52.0,51.0,52.0,136.380000,614.000000,102.807692,103.895385
4,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99220,Hospital observation care typically 70 minutes...,N,59.0,59.0,59.0,190.363729,755.932203,141.293559,142.865763

In [39]:
# Look at cbsa dataframe
cbsa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47415 entries, 0 to 47414
Data columns (total 6 columns):
zip          47415 non-null int64
cbsa         47415 non-null int64
res_ratio    47415 non-null float64
bus_ratio    47415 non-null float64
oth_ratio    47415 non-null float64
tot_ratio    47415 non-null float64
dtypes: float64(4), int64(2)
memory usage: 2.2 MB

In [40]:
cbsa.head()

   zip   cbsa  res_ratio  bus_ratio  oth_ratio  tot_ratio
0  501  35620        0.0        1.0        0.0        1.0
1  601  38660        1.0        1.0        1.0        1.0
2  602  10380        1.0        1.0        1.0        1.0
3  603  10380        1.0        1.0        1.0        1.0
4  604  10380        1.0        1.0        1.0        1.0

In [41]:
cbsa.shape

(47415, 6)

cbsa dataframe appears to be std tabular data w/o any issues … so far

In [42]:
cbsa.tail()

         zip   cbsa  res_ratio  bus_ratio  oth_ratio  tot_ratio
47410  99925  99999        0.0        0.0        1.0        1.0
47411  99926  99999        0.0        0.0        1.0        1.0
47412  99927  99999        0.0        0.0        1.0        1.0
47413  99928  28540        0.0        0.0        1.0        1.0
47414  99929  99999        0.0        0.0        1.0        1.0

# Observations

## Datafields in use
<b>providers</b><br>
    - Contains provider name and contact info, HPCS and cost info
    - Joinability: 'HPCS Code' is common field with classifications
    - Fields:
       - npi
       - nppes_provider_last_org_name
       - nppes_provider_first_name
       - nppes_provider_mi
       - nppes_credentials
       - nppes_provider_gender
       - nppes_entity_code
       - nppes_provider_street1
       - nppes_provider_street2
       - nppes_provider_city
       - nppes_provider_zip
       - nppes_provider_state
       - nppes_provider_country
       - provider_type
       - medicare_participation_indicator
       - place_of_service
       - hcpcs_code
       - hcpcs_description
       - hcpcs_drug_indicator
       - line_srvc_cnt
       - bene_unique_cnt
       - bene_day_srvc_cnt
       - average_Medicare_allowed_amt
       - average_submitted_chrg_amt
       - average_Medicare_payment_amt
       - average_Medicare_standard_amt
<b>outpatient</b><br>
    - Contains provider name and contact info, procedures and costs
    - Joinability: 'Zip' is common field with cbsa and providers
    - Fields:
        - Provider ID
        - Provider Name
        - Provider Street Address
        - Provider City
        - Provider\nState
        - Provider\nZip Code
        - Provider\nHospital Referral Region\n(HRR)
        - APC
        - APC\nDescription
        - Beneficiaries
        - Comprehensive APC\nServices
        - Average\nEstimated\nTotal\nSubmitted\nCharges
        - Average\nMedicare\nAllowed\nAmount
        - Average\nMedicare\nPayment\nAmount
        - Outlier\nComprehensive\nAPC\nServices
        - Average\nMedicare\nOutlier\nAmount
<b>classifications</b><br>
    - Contains classification info about each procedure
    - Joinability: 'HPCS Code' is common field with providers
    - Fields:
        - HCPCS Code
        - Short Descriptor
        - SI
        - APC
        - Relative Weight
        - Payment Rate
        - National Unadjusted Copayment
        - Minimum Unadjusted Copayment
        - Column1
        - Column2
        - Column3
        - Unnamed: 8
        - Unnamed: 9
        - Unnamed: 10
<b>cbsa</b><br>
    - Contains Zip Code and Core Based Statistical Area (CBSA) data
    - Joinability: 'Zip' is common field with classifications and providers
    - Fields:
        - ZIP
        - CBSA
        - RES_RATIO
        - BUS_RATIO
        - OTH_RATIO
        - TOT_RATIO
    - What's this used for, do we need it? 


## These common fields can be used for joins
<b>HCPCS Code:</b> providers, classifications<br>
<b>Zip:</b> cbsa, outpatient, providers<br>
<b>Provider ID:</b> outpatient

## Potential things to look at
- <b>sort by Zip Code:</b>
    - what procedures are more popular in which locations?
    - which providers provide which procedures?
    - what's the average cost per zip code?
- <b>sort by Procedure:</b>
    - what's the average cost per procedure?
    - which procedures outpatient/inpatient?